Repository getsentry/sentry-ruby, pull requests merged in 2021-03, with the labels that each got.

#1308 Ignore sentry-trace when tracing is not enabled
  sentry-ruby/CHANGELOG.md
  sentry-ruby/lib/sentry/transaction.rb
  sentry-ruby/spec/sentry/rack/capture_exceptions_spec.rb
  sentry-ruby/spec/sentry/transaction_spec.rb
Labels: bug fix, sentry-ruby, tracing

#1309 Refactor tracing implementation
  sentry-rails/lib/sentry/rails/capture_exceptions.rb
  sentry-ruby/CHANGELOG.md
  sentry-ruby/lib/sentry/hub.rb
  sentry-ruby/lib/sentry/rack/capture_exceptions.rb
  sentry-ruby/lib/sentry/transaction.rb
  sentry-ruby/spec/sentry/transaction_spec.rb
Labels: refactoring, sentry-rails, sentry-ruby, tracing

#1302 Treat query string as pii too
  sentry-ruby/CHANGELOG.md
  sentry-ruby/lib/sentry/interfaces/request.rb
  sentry-ruby/spec/sentry/event_spec.rb
  sentry-ruby/spec/sentry/interfaces/request_interface_spec.rb
Labels: bug fix, sentry-ruby

#1304 Support performance monitoring on ActiveJob execution
  sentry-rails/CHANGELOG.md
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/spec/sentry/rails/activejob_spec.rb
Labels: active_job, enhancement, sentry-rails

#1310 Allow configuring BreadcrumbBuffer's size limit
  sentry-ruby/CHANGELOG.md
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/breadcrumb_buffer.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/scope.rb
  sentry-ruby/spec/sentry/breadcrumb_buffer_spec.rb
  sentry-ruby/spec/sentry/scope_spec.rb
  sentry-ruby/spec/sentry_spec.rb
Labels: enhancement, sentry-ruby

#1311 Support performance monitoring on Sidekiq workers
  sentry-sidekiq/CHANGELOG.md
  sentry-sidekiq/lib/sentry/sidekiq/sentry_context_middleware.rb
  sentry-sidekiq/spec/sentry/sidekiq_spec.rb
  sentry-sidekiq/spec/spec_helper.rb
Labels: enhancement, sentry-sidekiq, tracing

#1299 Rails.logger methods return breadcrumbs instead of true when breadcrumbs logging is enabled
  sentry-ruby/CHANGELOG.md
  sentry-ruby/lib/sentry/breadcrumb/sentry_logger.rb
  sentry-ruby/spec/sentry/breadcrumb/sentry_logger_spec.rb
Labels: bug fix, sentry-ruby

#1313 Rename breadcrumb_buffer_limit to max_breadcrumbs
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/scope.rb
  sentry-ruby/spec/sentry/scope_spec.rb
  sentry-ruby/spec/sentry_spec.rb
Labels: sentry-ruby

#1318 We're hiring
  sentry-ruby/README.md
Labels: documentation, sentry-ruby

#1314 Compress event payload by default
  sentry-ruby/CHANGELOG.md
  sentry-ruby/lib/sentry/transport/configuration.rb
  sentry-ruby/lib/sentry/transport/http_transport.rb
  sentry-ruby/spec/sentry/transport/http_transport_spec.rb
Labels: enhancement, sentry-ruby

#1298 Improve SDK's error handling
  sentry-ruby/CHANGELOG.md
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/background_worker.rb
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/lib/sentry/event.rb
  sentry-ruby/lib/sentry/exceptions.rb
  sentry-ruby/lib/sentry/transport.rb
  sentry-ruby/lib/sentry/transport/http_transport.rb
  sentry-ruby/spec/sentry/client/event_sending_spec.rb
  sentry-ruby/spec/sentry/client_spec.rb
  sentry-ruby/spec/sentry/event_spec.rb
  sentry-ruby/spec/sentry/transport/http_transport_spec.rb
  sentry-ruby/spec/sentry/transport_spec.rb
Labels: bug fix, sentry-ruby

#1320 Prevent background workers from holding ActiveRecord connections
  sentry-rails/.gitignore
  sentry-rails/CHANGELOG.md
  sentry-rails/lib/sentry/rails.rb
  sentry-rails/lib/sentry/rails/background_worker.rb
  sentry-rails/spec/sentry/rails/client_spec.rb
  sentry-rails/spec/support/test_rails_app/app.rb
Labels: bug fix, sentry-rails

#1321 Test sentry rails integration separately
  .github/workflows/sentry_sidekiq_test.yml
  sentry-sidekiq/Makefile
  sentry-sidekiq/spec/sentry/rails_spec.rb
Labels: sentry-sidekiq, testing

#1322 Wait background worker a bit longer for sending events
  sentry-ruby/spec/sentry/client/event_sending_spec.rb
Labels: sentry-ruby, testing

#1327 Exceptions with nil message shouldn't cause issues
  sentry-ruby/CHANGELOG.md
  sentry-ruby/lib/sentry/interfaces/single_exception.rb
  sentry-ruby/spec/sentry/hub_spec.rb
Labels: bug fix, sentry-ruby

#1326 Fix sampling decision with sentry-trace and add more tests
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/lib/sentry/rails/capture_exceptions.rb
  sentry-ruby/CHANGELOG.md
  sentry-ruby/lib/sentry/hub.rb
  sentry-ruby/lib/sentry/rack/capture_exceptions.rb
  sentry-ruby/lib/sentry/transaction.rb
  sentry-ruby/spec/sentry/rack/capture_exceptions_spec.rb
  sentry-ruby/spec/sentry_spec.rb
  sentry-sidekiq/lib/sentry/sidekiq/sentry_context_middleware.rb
Labels: bug fix, sentry-ruby, tracing

#1329 Update link to the ignore defaults in README
  sentry-ruby/README.md
Labels: documentation, sentry-ruby

#1338 Retry flaky tests
  sentry-rails/Gemfile
  sentry-rails/spec/sentry/rails/client_spec.rb
  sentry-rails/spec/spec_helper.rb
  sentry-ruby/Gemfile
  sentry-ruby/spec/sentry/client/event_sending_spec.rb
  sentry-ruby/spec/spec_helper.rb
Labels: sentry-rails, sentry-ruby, testing

#1339 Update workflow files
  .github/workflows/build_release.yml
  .github/workflows/prepare_release.yml
  .github/workflows/sentry_rails_test.yml
Labels: sentry-rails, sentry-ruby, testing

#1341 Fix handle the case where the logger messages is not of String type
  sentry-ruby/CHANGELOG.md
  sentry-ruby/lib/sentry/breadcrumb/sentry_logger.rb
  sentry-ruby/spec/sentry/breadcrumb/sentry_logger_spec.rb
Labels: bug fix, sentry-ruby

#1350 Only apply background worker patch if ActiveRecord is loaded
  sentry-rails/CHANGELOG.md
  sentry-rails/lib/sentry/rails.rb
  sentry-rails/lib/sentry/rails/background_worker.rb
  sentry-rails/lib/sentry/rails/railtie.rb
Labels: bug fix

#1351 Avoid recording SendEventJob's transaction
  sentry-rails/CHANGELOG.md
  sentry-rails/app/jobs/sentry/send_event_job.rb
  sentry-rails/spec/sentry/send_event_job_spec.rb
Labels: bug fix, sentry-rails, tracing

#1358 Sentry.add_breadcrumb should call Hub#add_breadcrumb
  sentry-ruby/CHANGELOG.md
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/spec/sentry_spec.rb
Labels: bug fix, sentry-ruby

#1352 Minimize sentry-rails' dependency requirement
  sentry-rails/CHANGELOG.md
  sentry-rails/examples/minimum-rails/app.rb
  sentry-rails/lib/sentry/rails.rb
  sentry-rails/lib/sentry/rails/railtie.rb
  sentry-rails/sentry-rails.gemspec
  sentry-rails/spec/sentry/rails/controller_methods_spec.rb
  sentry-rails/spec/support/test_rails_app/app.rb
Labels: enhancement, sentry-rails

#1363 Correctly set the SDK's logger in sentry-rails
  sentry-rails/lib/sentry/rails/configuration.rb
  sentry-rails/lib/sentry/rails/railtie.rb
  sentry-rails/spec/sentry/rails_spec.rb
Labels: bug fix, sentry-rails

#1354 Correct type attribute's usages
  sentry-rails/spec/sentry/send_event_job_spec.rb
  sentry-ruby/CHANGELOG.md
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/lib/sentry/event.rb
  sentry-ruby/lib/sentry/transaction_event.rb
  sentry-ruby/lib/sentry/transport.rb
  sentry-ruby/spec/sentry/rake_spec.rb
  sentry-ruby/spec/sentry/transport_spec.rb
Labels: bug fix, sentry-ruby

#1366 Refine readme
  sentry-ruby/README.md
Labels: documentation, sentry-ruby

#1373 Return delayed job when the SDK is not initialized
  sentry-delayed_job/CHANGELOG.md
  sentry-delayed_job/lib/sentry/delayed_job/plugin.rb
  sentry-delayed_job/spec/sentry/delayed_job_spec.rb
Labels: bug fix, sentry-delayed_job
