Repository getsentry/sentry-ruby, pull requests merged in 2021-12, with the labels that each got.

#1631 Use prepended method instead of around_perform for ActiveJob integration
  CHANGELOG.md
  sentry-rails/app/jobs/sentry/send_event_job.rb
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/spec/sentry/rails/activejob_spec.rb
Labels: bug fix, active_job, sentry-rails

#1635 Rewrite documents with yard
  sentry-ruby/.yardopts
  sentry-ruby/Gemfile
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/backtrace.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/envelope.rb
  sentry-ruby/lib/sentry/linecache.rb
  sentry-ruby/lib/sentry/net/http.rb
  sentry-ruby/lib/sentry/rake.rb
  sentry-ruby/lib/sentry/release_detector.rb
Labels: documentation, sentry-ruby

#1638 Capture exceptions in Action Cable connections and channels (continuation of #1295)
  CHANGELOG.md
  sentry-rails/examples/rails-6.0/app/channels/appearance_channel.rb
  sentry-rails/examples/rails-6.0/app/channels/application_cable/connection.rb
  sentry-rails/examples/rails-6.0/app/controllers/welcome_controller.rb
  sentry-rails/examples/rails-6.0/app/javascript/channels/appearance_channel.js
  sentry-rails/examples/rails-6.0/app/views/welcome/appearance.html.erb
  sentry-rails/examples/rails-6.0/config/routes.rb
  sentry-rails/lib/sentry/rails/action_cable.rb
  sentry-rails/lib/sentry/rails/railtie.rb
  sentry-rails/spec/sentry/rails/action_cable_spec.rb
  sentry-rails/spec/support/test_rails_app/app.rb
Labels: enhancement, sentry-rails

#1641 Deprecate in-repo migration guide
  MIGRATION.md
  sentry-ruby/README.md
Labels: documentation

#1637 Fixup `Net::HTTP` breadcrumb url & span creation when `Net::HTTP.start` is used
  CHANGELOG.md
  sentry-ruby/lib/sentry/net/http.rb
  sentry-ruby/spec/sentry/net/http_spec.rb
Labels: bug fix, sentry-ruby

#1651 Minor improvements on `Net::HTTP` patch
  CHANGELOG.md
  sentry-ruby/lib/sentry/net/http.rb
  sentry-ruby/spec/sentry/net/http_spec.rb
Labels: refactoring, sentry-ruby

#1652 Deprecate unnecessarily exposed attributes
  sentry-ruby/lib/sentry/background_worker.rb
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/lib/sentry/transaction.rb
  sentry-ruby/lib/sentry/transport.rb
  sentry-ruby/lib/sentry/utils/logging_helper.rb
  sentry-ruby/spec/sentry/transaction_spec.rb
  sentry-ruby/spec/sentry_spec.rb
Labels: refactoring, sentry-ruby

#1640 Add tracing support to `ActionCable` integration
  CHANGELOG.md
  sentry-rails/lib/sentry/rails/action_cable.rb
  sentry-rails/spec/sentry/rails/action_cable_spec.rb
Labels: enhancement, sentry-rails

#1655 Remove unnecessary ActiveJob inclusion
  CHANGELOG.md
  sentry-rails/lib/sentry/rails/active_job.rb
Labels: bug fix, active_job, sentry-rails

#1654 Run CI against Ruby 3.1 and Rails 7.0
  .github/workflows/sentry_delayed_job_test.yml
  .github/workflows/sentry_rails_test.yml
  .github/workflows/sentry_resque_test.yml
  .github/workflows/sentry_ruby_test.yml
  .github/workflows/sentry_sidekiq_test.yml
  sentry-ruby/spec/contexts/with_request_mock.rb
Labels: testing, sentry-rails, sentry-ruby, sentry-sidekiq, sentry-delayed_job, sentry-resque

#1642 Add query string & body to `Net::HTTP` breadcrumb
  CHANGELOG.md
  sentry-ruby/lib/sentry/net/http.rb
  sentry-ruby/spec/sentry/net/http_spec.rb
Labels: enhancement, sentry-ruby

#1656 Refactor `Net::HTTP` patch
  CHANGELOG.md
  sentry-ruby/lib/sentry/net/http.rb
  sentry-ruby/spec/contexts/with_request_mock.rb
  sentry-ruby/spec/sentry/breadcrumb/http_logger_spec.rb
  sentry-ruby/spec/sentry/net/http_spec.rb
Labels: refactoring, sentry-ruby

#1658 Avoid using 7.0.0 directly
  sentry-delayed_job/Gemfile
  sentry-rails/Gemfile
  sentry-resque/Gemfile
  sentry-sidekiq/Gemfile
Labels: testing

#1653 Document `Transaction` and `Span` classes.
  CHANGELOG.md
  sentry-ruby/lib/sentry/span.rb
  sentry-ruby/lib/sentry/transaction.rb
Labels: documentation, sentry-ruby
