Repository getsentry/sentry-ruby, pull requests merged in 2021-06, with the labels that each got.

#1460 Update development gems
  sentry-rails/Gemfile
  sentry-ruby/Gemfile
  sentry-sidekiq/Gemfile
Labels: testing

#1463 Remove response from breadcrumb and span
  CHANGELOG.md
  sentry-rails/lib/sentry/rails/breadcrumb/active_support_logger.rb
  sentry-rails/lib/sentry/rails/instrument_payload_cleanup_helper.rb
  sentry-rails/lib/sentry/rails/tracing/action_controller_subscriber.rb
  sentry-rails/spec/sentry/rails/active_support_breadcrumbs_spec.rb
  sentry-rails/spec/sentry/rails/tracing_spec.rb
Labels: bug fix, sentry-rails

#1464 Correct the timing of loading ActiveJobExtensions
  CHANGELOG.md
  sentry-rails/lib/sentry/rails/railtie.rb
Labels: active_job, bug fix, sentry-rails

#1465 Limit breadcrumb's message length
  CHANGELOG.md
  sentry-ruby/lib/sentry/breadcrumb.rb
  sentry-ruby/spec/sentry/breadcrumb_spec.rb
Labels: bug fix, sentry-rails, sentry-ruby

#1471 Disable release detection when SDK is not configured to send events
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
  sentry-ruby/spec/sentry_spec.rb
Labels: bug fix, sentry-ruby

#1472 Update changelog entry
  CHANGELOG.md
Labels: documentation, sentry-ruby

#1477 Remove redundant files
  CHANGELOG.md
  sentry-ruby/lib/sentry/benchmarks/benchmark_transport.rb
  sentry-ruby/lib/sentry/rack.rb
  sentry-ruby/lib/sentry/rack/deprecations.rb
  sentry-ruby/spec/sentry/rack/deprecations_spec.rb
Labels: refactoring, sentry-ruby

#1476 Add sentry-resque
  .github/workflows/sentry_resque_test.yml
  sentry-resque/.gitignore
  sentry-resque/.rspec
  sentry-resque/CODE_OF_CONDUCT.md
  sentry-resque/Gemfile
  sentry-resque/LICENSE.txt
  sentry-resque/Makefile
  sentry-resque/README.md
  sentry-resque/Rakefile
  sentry-resque/bin/console
  sentry-resque/bin/setup
  sentry-resque/example/Gemfile
  sentry-resque/example/app.rb
  sentry-resque/lib/sentry-resque.rb
  sentry-resque/lib/sentry/resque.rb
  sentry-resque/lib/sentry/resque/configuration.rb
  sentry-resque/lib/sentry/resque/version.rb
  sentry-resque/sentry-resque.gemspec
  sentry-resque/spec/sentry/resque/configuration_spec.rb
  sentry-resque/spec/sentry/resque_spec.rb
  sentry-resque/spec/spec_helper.rb
Labels: enhancement, sentry-resque

#1479 Add resque to sentry-rails' example app
  sentry-rails/examples/rails-6.0/Gemfile
  sentry-rails/examples/rails-6.0/app/controllers/welcome_controller.rb
  sentry-rails/examples/rails-6.0/app/resque_jobs/raise_error.rb
  sentry-rails/examples/rails-6.0/config/initializers/resque.rb
  sentry-rails/examples/rails-6.0/config/routes.rb
  sentry-rails/examples/rails-6.0/lib/tasks/resque.rake
Labels: sentry-rails, sentry-resque

#1480 Add tracing support to sentry-resque
  CHANGELOG.md
  sentry-rails/examples/rails-6.0/config/initializers/resque.rb
  sentry-resque/lib/sentry/resque.rb
  sentry-resque/spec/sentry/resque_spec.rb
  sentry-resque/spec/sentry/tracing_spec.rb
  sentry-resque/spec/spec_helper.rb
Labels: enhancement, sentry-resque, tracing

#1469 Set user to the current scope via sidekiq middleware
  sentry-sidekiq/lib/sentry-sidekiq.rb
  sentry-sidekiq/lib/sentry/sidekiq/sentry_context_middleware.rb
  sentry-sidekiq/spec/sentry/sidekiq/sentry_context_middleware_spec.rb
  sentry-sidekiq/spec/sentry/sidekiq_spec.rb
Labels: enhancement, sentry-sidekiq

#1483 Follow up #1469
  CHANGELOG.md
  sentry-sidekiq/spec/sentry/sidekiq/sentry_context_middleware_spec.rb
Labels: sentry-sidekiq, testing

#1484 Force encode request body if it's a string
  CHANGELOG.md
  sentry-ruby/lib/sentry/interfaces/request.rb
  sentry-ruby/spec/sentry/interfaces/request_interface_spec.rb
Labels: bug fix, sentry-ruby

#1482 Add tracing support to sentry-delayed_job
  CHANGELOG.md
  sentry-delayed_job/lib/sentry/delayed_job/plugin.rb
  sentry-delayed_job/spec/sentry/delayed_job_spec.rb
  sentry-delayed_job/spec/spec_helper.rb
Labels: enhancement, sentry-delayed_job, tracing

#1486 Prepare for 4.6.0-beta.0
  .scripts/batch_build.rb
  .scripts/batch_release.rb
  CHANGELOG.md
Labels: release

#1487 Simplify Readme
  sentry-ruby/README.md
Labels: documentation, sentry-ruby

#1490 Prepare for 4.6.0
  CHANGELOG.md
  sentry-ruby/README.md
Labels: documentation, sentry-ruby

#1493 Fix broken URL.
  sentry-raven/README.md
Labels: documentation, sentry-raven
