Repository getsentry/sentry-ruby, pull requests merged in 2021-07, with the labels that each got.

#1497 Add isolated tests to sentry-rails
  sentry-rails/Rakefile
  sentry-rails/spec/isolated/active_job_activation.rb
Labels: sentry-rails, testing

#1494 Don't force ActiveJob to load during initialization
  CHANGELOG.md
  sentry-rails/lib/sentry/rails/railtie.rb
  sentry-rails/spec/isolated/active_job_activation.rb
Labels: bug fix, sentry-rails

#1498 Fix `Sentry::Utils::RealIP` not filtering trusted proxies when part of IP subnet passed as `IPAddr` to `trusted_proxies`.
  sentry-ruby/lib/sentry/utils/real_ip.rb
  sentry-ruby/spec/sentry/utils/real_ip_spec.rb
Labels: bug fix, sentry-rails

#1500 Update changelog entry for 4.6.1
  CHANGELOG.md
Labels: documentation

#1501 Update workflow files and bug report template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/workflows/build_batch_release.yml
Labels: release

#1503 Declare resque as sentry-resque's dependency
  CHANGELOG.md
  sentry-resque/Gemfile
  sentry-resque/sentry-resque.gemspec
  sentry-resque/spec/sentry/resque_spec.rb
  sentry-resque/spec/sentry/tracing_spec.rb
Labels: bug fix, sentry-resque

#1505 DSN#server shouldn't include path
  CHANGELOG.md
  sentry-ruby/lib/sentry/dsn.rb
  sentry-ruby/spec/sentry/dsn_spec.rb
  sentry-ruby/spec/sentry/transport/http_transport_spec.rb
Labels: bug fix, sentry-ruby

#1506 Declare delayed_job and sidekiq as integration gem's dependency
  CHANGELOG.md
  sentry-delayed_job/sentry-delayed_job.gemspec
  sentry-sidekiq/sentry-sidekiq.gemspec
Labels: bug fix, sentry-delayed_job, sentry-sidekiq

#1510 Fix sentry-rails' backtrace_cleanup_callback injection
  CHANGELOG.md
  sentry-rails/lib/sentry/rails/railtie.rb
  sentry-rails/spec/sentry/rails/controller_methods_spec.rb
  sentry-rails/spec/sentry/rails_spec.rb
  sentry-rails/spec/spec_helper.rb
Labels: bug fix, sentry-rails

#1509 Disable background worker when executing rake tasks
  CHANGELOG.md
  sentry-ruby/examples/rake/Rakefile.rb
  sentry-ruby/lib/sentry/hub.rb
  sentry-ruby/lib/sentry/rake.rb
  sentry-ruby/spec/sentry/hub_spec.rb
Labels: bug fix, sentry-ruby

#1512 Update changelog for 4.6.2
  CHANGELOG.md
Labels: documentation, sentry-ruby

#1504 Silence some ruby warnings
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/core_ext/object/deep_dup.rb
  sentry-ruby/lib/sentry/core_ext/object/duplicable.rb
  sentry-ruby/lib/sentry/transport/configuration.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
  sentry-ruby/spec/sentry/interfaces/request_interface_spec.rb
  sentry-ruby/spec/sentry/net/http_spec.rb
  sentry-ruby/spec/sentry/transport_spec.rb
Labels: refactoring, sentry-ruby

#1513 Silence method redefined warnings
  CHANGELOG.md
  sentry-ruby/lib/sentry/core_ext/object/deep_dup.rb
  sentry-ruby/lib/sentry/core_ext/object/duplicable.rb
  sentry-ruby/lib/sentry/event.rb
  sentry-ruby/lib/sentry/transaction_event.rb
Labels: refactoring, sentry-ruby

#1514 Correctly pass arguments to a rake task
  sentry-ruby/lib/sentry/rake.rb
  sentry-ruby/spec/sentry/rake_spec.rb
  sentry-ruby/spec/support/Rakefile.rb
Labels: bug fix, sentry-ruby

#1515 Update changelog
  CHANGELOG.md
Labels: documentation

#1517 Extend Rake with a more elegant and reliable way
  sentry-ruby/lib/sentry/rake.rb
Labels: bug fix, sentry-ruby

#1521 Prepare for 4.6.4
  CHANGELOG.md
  sentry-ruby/examples/rake/Rakefile.rb
  sentry-ruby/lib/sentry/configuration.rb
Labels: documentation, sentry-ruby
