Repository getsentry/sentry-ruby, pull requests merged in 2021-11, with the labels that each got.

#1601 Avoid duplicated sampling on Transaction events
  CHANGELOG.md
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/transport.rb
  sentry-ruby/spec/sentry/client/event_sending_spec.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
  sentry-ruby/spec/sentry/transport_spec.rb
Labels: bug fix, sentry-ruby

#1596 [ENHANCE] Support Sidekiq Tags in Sentry
  sentry-sidekiq/lib/sentry/sidekiq/sentry_context_middleware.rb
  sentry-sidekiq/spec/sentry/sidekiq/sentry_context_middleware_spec.rb
  sentry-sidekiq/spec/spec_helper.rb
Labels: enhancement, sentry-sidekiq

#1605 Don't require debug gem unless Ruby >= 2.6
  sentry-rails/spec/spec_helper.rb
  sentry-ruby/spec/spec_helper.rb
Labels: testing

#1608 Move `Sentry::Rails::CaptureExceptions` before `ActionDispatch::ShowExceptions`
  CHANGELOG.md
  sentry-rails/lib/sentry/rails/railtie.rb
  sentry-rails/lib/sentry/rails/rescued_exception_interceptor.rb
  sentry-rails/spec/sentry/rails_spec.rb
Labels: refactoring, sentry-rails

#1610 Remove unnecessary sentry-raven CI steps or checks
  .github/workflows/sentry_raven_test.yml
  sentry-raven/Gemfile
  sentry-raven/Rakefile
Labels: testing, sentry-raven

#1607 Migrate codecov uploader
  .github/workflows/sentry_delayed_job_test.yml
  .github/workflows/sentry_rails_test.yml
  .github/workflows/sentry_resque_test.yml
  .github/workflows/sentry_ruby_test.yml
  .github/workflows/sentry_sidekiq_test.yml
  sentry-delayed_job/Gemfile
  sentry-delayed_job/spec/spec_helper.rb
  sentry-rails/Gemfile
  sentry-rails/spec/spec_helper.rb
  sentry-resque/Gemfile
  sentry-resque/spec/spec_helper.rb
  sentry-ruby/Gemfile
  sentry-ruby/spec/spec_helper.rb
  sentry-sidekiq/Gemfile
  sentry-sidekiq/Makefile
  sentry-sidekiq/spec/spec_helper.rb
Labels: testing

#1606 Log event payload in debug mode
  sentry-ruby/lib/sentry/hub.rb
  sentry-ruby/spec/sentry/hub_spec.rb
Labels: enhancement, sentry-ruby

#1602 Remove verbose data from #inspect result
  CHANGELOG.md
  sentry-ruby/bin/console
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/event.rb
  sentry-ruby/lib/sentry/interfaces/single_exception.rb
  sentry-ruby/lib/sentry/interfaces/stacktrace.rb
  sentry-ruby/lib/sentry/utils/custom_inspection.rb
  sentry-ruby/spec/sentry/event_spec.rb
Labels: enhancement, sentry-ruby

#1604 feat: Add client reports
  CHANGELOG.md
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/transaction.rb
  sentry-ruby/lib/sentry/transport.rb
  sentry-ruby/spec/sentry/client/event_sending_spec.rb
  sentry-ruby/spec/sentry/transaction_spec.rb
  sentry-ruby/spec/sentry/transport_spec.rb
  sentry-ruby/spec/spec_helper.rb
Labels: enhancement, sentry-ruby

#1613 Remove semver compatibility result from Readme
  sentry-ruby/README.md
Labels: documentation

#1614 Improve description about client reports
  CHANGELOG.md
Labels: documentation, sentry-ruby

#1616 Extract envelope construction logic from Transport
  CHANGELOG.md
  sentry-ruby/lib/sentry/envelope.rb
  sentry-ruby/lib/sentry/transport.rb
Labels: refactoring, sentry-ruby

#1621 Merge context with the same key instead of replacing the old value.
  CHANGELOG.md
  sentry-ruby/lib/sentry/scope.rb
  sentry-ruby/spec/sentry/scope/setters_spec.rb
Labels: bug fix, sentry-ruby

#1622 Remove faraday from tests
  sentry-ruby/spec/contexts/with_request_mock.rb
  sentry-ruby/spec/sentry/net/http_spec.rb
  sentry-ruby/spec/sentry/transport/http_transport_rate_limiting_spec.rb
  sentry-ruby/spec/sentry/transport/http_transport_spec.rb
Labels: testing, sentry-ruby

#1626 Fix HTTPTransport's ssl configuration
  sentry-ruby/lib/sentry/transport/http_transport.rb
  sentry-ruby/spec/contexts/with_request_mock.rb
  sentry-ruby/spec/sentry/transport/http_transport_spec.rb
Labels: bug fix, sentry-ruby

#1624 Log errors happened in BackgroundWorker#perform
  CHANGELOG.md
  sentry-rails/lib/sentry/rails/background_worker.rb
  sentry-ruby/lib/sentry/background_worker.rb
  sentry-ruby/spec/sentry/background_worker_spec.rb
Labels: bug fix, sentry-rails, sentry-ruby

#1623 Add frozen string literal comment to sentry-ruby
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/background_worker.rb
  sentry-ruby/lib/sentry/breadcrumb.rb
  sentry-ruby/lib/sentry/breadcrumb/sentry_logger.rb
  sentry-ruby/lib/sentry/breadcrumb_buffer.rb
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/core_ext/object/deep_dup.rb
  sentry-ruby/lib/sentry/core_ext/object/duplicable.rb
  sentry-ruby/lib/sentry/dsn.rb
  sentry-ruby/lib/sentry/envelope.rb
  sentry-ruby/lib/sentry/exceptions.rb
  sentry-ruby/lib/sentry/hub.rb
  sentry-ruby/lib/sentry/integrable.rb
  sentry-ruby/lib/sentry/interface.rb
  sentry-ruby/lib/sentry/interfaces/exception.rb
  sentry-ruby/lib/sentry/interfaces/single_exception.rb
  sentry-ruby/lib/sentry/interfaces/stacktrace.rb
  sentry-ruby/lib/sentry/interfaces/stacktrace_builder.rb
  sentry-ruby/lib/sentry/interfaces/threads.rb
  sentry-ruby/lib/sentry/linecache.rb
  sentry-ruby/lib/sentry/net/http.rb
  sentry-ruby/lib/sentry/rack.rb
  sentry-ruby/lib/sentry/rack/capture_exceptions.rb
  sentry-ruby/lib/sentry/rake.rb
  sentry-ruby/lib/sentry/release_detector.rb
  sentry-ruby/lib/sentry/scope.rb
  sentry-ruby/lib/sentry/span.rb
  sentry-ruby/lib/sentry/transaction.rb
  sentry-ruby/lib/sentry/transport.rb
  sentry-ruby/lib/sentry/transport/configuration.rb
  sentry-ruby/lib/sentry/transport/dummy_transport.rb
  sentry-ruby/lib/sentry/transport/http_transport.rb
  sentry-ruby/lib/sentry/utils/argument_checking_helper.rb
  sentry-ruby/lib/sentry/utils/custom_inspection.rb
  sentry-ruby/lib/sentry/utils/exception_cause_chain.rb
  sentry-ruby/lib/sentry/utils/logging_helper.rb
  sentry-ruby/lib/sentry/utils/real_ip.rb
  sentry-ruby/lib/sentry/utils/request_id.rb
  sentry-ruby/lib/sentry/version.rb
Labels: refactoring, sentry-ruby

#1625 Always bump integrations' dependency requirement
  .scripts/batch_release.rb
Labels: release

#1617 Gracefully shutdown background worker before the process exits
  CHANGELOG.md
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/background_worker.rb
  sentry-ruby/lib/sentry/rake.rb
Labels: bug fix, sentry-ruby
