Repository getsentry/sentry-ruby, pull requests merged in 2021-08, with the labels that each got.

#1527 Add severity as sentry_logger's breadcrumb hint
  CHANGELOG.md
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/breadcrumb/sentry_logger.rb
  sentry-ruby/spec/sentry/breadcrumb/sentry_logger_spec.rb
Labels: enhancement, sentry-ruby

#1523 SDK should drop the event when any event processor returns nil
  CHANGELOG.md
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/spec/sentry/client/event_sending_spec.rb
Labels: bug fix, sentry-ruby

#1529 Refactor sentry-ruby.rb and add comments
  CHANGELOG.md
  sentry-ruby/lib/sentry-ruby.rb
Labels: refactoring, sentry-ruby

#1533 Test sentry-sidekiq with different sidekiq versions
  .github/workflows/sentry_sidekiq_test.yml
  sentry-sidekiq/Gemfile
Labels: testing, sentry-sidekiq

#1535 Make ignoring events test more reliable
  sentry-rails/spec/sentry/rails/active_support_breadcrumbs_spec.rb
Labels: testing, sentry-rails

#1532 Support after-retry reporting to sentry-sidekiq
  CHANGELOG.md
  sentry-sidekiq/lib/sentry-sidekiq.rb
  sentry-sidekiq/lib/sentry/sidekiq/configuration.rb
  sentry-sidekiq/lib/sentry/sidekiq/error_handler.rb
  sentry-sidekiq/spec/sentry/sidekiq/configuration_spec.rb
  sentry-sidekiq/spec/sentry/sidekiq/sentry_context_middleware_spec.rb
  sentry-sidekiq/spec/sentry/sidekiq_spec.rb
  sentry-sidekiq/spec/spec_helper.rb
Labels: enhancement, sidekiq, sentry-sidekiq

#1507 Generate Security Header Endpoint with Sentry.csp_report_uri from DSN
  CHANGELOG.md
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/dsn.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
  sentry-ruby/spec/sentry/dsn_spec.rb
  sentry-ruby/spec/sentry_spec.rb
Labels: enhancement, sentry-ruby

#1531 Add monotonic_active_support_logger
  CHANGELOG.md
  sentry-rails/lib/sentry/rails/breadcrumb/monotonic_active_support_logger.rb
  sentry-rails/lib/sentry/rails/railtie.rb
  sentry-rails/spec/sentry/rails/breadcrumbs/active_support_breadcrumbs_spec.rb
  sentry-rails/spec/sentry/rails/breadcrumbs/monotonic_active_support_breadcrumbs_spec.rb
Labels: enhancement, sentry-rails

#1538 Fix markdown typo in changelog
  CHANGELOG.md
Labels: documentation

#1542 fix typo in migration guide
  MIGRATION.md
Labels: documentation, sentry-raven

#1544 Check sentry-rails before injecting ActiveJob skippable adapters
  CHANGELOG.md
  sentry-delayed_job/lib/sentry-delayed_job.rb
  sentry-resque/lib/sentry-resque.rb
  sentry-sidekiq/lib/sentry-sidekiq.rb
Labels: bug fix, sentry-sidekiq, sentry-delayed_job, sentry-resque

#1546 Don't apply Scope's transaction name if it's empty
  CHANGELOG.md
  sentry-ruby/lib/sentry/scope.rb
  sentry-ruby/spec/sentry/transaction_spec.rb
Labels: bug fix, tracing, sentry-ruby

#1547 Don't start Sentry::SendEventJob's transaction
  CHANGELOG.md
  sentry-rails/app/jobs/sentry/send_event_job.rb
  sentry-rails/lib/sentry/rails/active_job.rb
Labels: bug fix, sentry-rails
