Repository getsentry/sentry-ruby, pull requests merged in 2021-01, with the labels that each got.

#1179 Remove DelayedJobAdapter from ignored list
  sentry-rails/lib/sentry/rails/active_job.rb
Labels: bug fix, delayed_job, rails

#1182 Symlink root readme to sentry-ruby's
  README.md
Labels: documentation

#1184 rm reference to old constant (from Rails v2.2)
  sentry-ruby/lib/sentry/configuration.rb
Labels: refactoring

#1186 Use copied env in events
  sentry-ruby/lib/sentry/event.rb
  sentry-ruby/lib/sentry/rack/interface.rb
  sentry-ruby/spec/sentry/event_spec.rb
  sentry-ruby/spec/sentry/interfaces/request_interface_spec.rb
Labels: bug fix, sentry-ruby

#1187 Refactor RequestInterface
  sentry-rails/examples/rails-6.0/app/models/post.rb
  sentry-rails/examples/rails-6.0/config/initializers/sentry.rb
  sentry-ruby/CHANGELOG.md
  sentry-ruby/lib/sentry/event.rb
  sentry-ruby/lib/sentry/interfaces/request.rb
  sentry-ruby/lib/sentry/rack.rb
  sentry-ruby/lib/sentry/rack/interface.rb
  sentry-ruby/lib/sentry/utils/request_id.rb
  sentry-ruby/spec/sentry/event_spec.rb
  sentry-ruby/spec/sentry/interfaces/request_interface_spec.rb
Labels: refactoring, sentry-ruby

#1189 Supply event hint to async callback when possible
  sentry-ruby/CHANGELOG.md
  sentry-ruby/README.md
  sentry-ruby/lib/sentry/background_worker.rb
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/spec/sentry/client_spec.rb
Labels: bug fix, sentry-ruby

#1191 Fix typo in README.md
  sentry-ruby/README.md
Labels: documentation

#1190 Refactor stacktrace parsing and increase test coverage
  sentry-ruby/CHANGELOG.md
  sentry-ruby/lib/sentry/backtrace.rb
  sentry-ruby/lib/sentry/event.rb
  sentry-ruby/lib/sentry/interfaces/stacktrace.rb
  sentry-ruby/spec/sentry/backtrace/lines_spec.rb
  sentry-ruby/spec/sentry/backtrace_spec.rb
  sentry-ruby/spec/sentry/event_spec.rb
  sentry-ruby/spec/sentry/interfaces/stacktrace_spec.rb
  sentry-ruby/spec/support/stacktrace_test_fixture.rb
Labels: refactoring, sentry-ruby

#1192 Sentry.send_event should also take a hint
  sentry-ruby/CHANGELOG.md
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/spec/sentry_spec.rb
Labels: bug fix, sentry-ruby

#1193 Fix typo in README
  sentry-rails/README.md
Labels: documentation

#1197 Fix headers serialization for sentry-ruby
  sentry-ruby/lib/sentry/interfaces/request.rb
  sentry-ruby/spec/sentry/interfaces/request_interface_spec.rb
Labels: bug fix

#1198 fix format headers for sentry-raven
  sentry-raven/lib/raven/integrations/rack.rb
  sentry-raven/spec/raven/integrations/rack_spec.rb
Labels: bug fix, sentry-raven

#1199 Don't include headers & request info in tracing span or breadcrumb
  sentry-rails/lib/sentry/rails/breadcrumb/active_support_logger.rb
  sentry-rails/lib/sentry/rails/tracing/action_controller_subscriber.rb
  sentry-rails/spec/sentry/rails/active_support_breadcrumbs_spec.rb
  sentry-rails/spec/sentry/rails/tracing/action_controller_subscriber_spec.rb
Labels: bug fix, sentry-rails, tracing

#1204 Don't run RescuedExceptionInterceptor unless Sentry is initialized
  sentry-rails/CHANGELOG.md
  sentry-rails/lib/sentry/rails/rescued_exception_interceptor.rb
Labels: bug fix, sentry-rails

#1207 Copy LICENSE from repository root
  sentry-raven/LICENSE
Labels: bug fix, sentry-raven

#1205 Support capturing "sentry-trace" header from the middleware
  sentry-ruby/CHANGELOG.md
  sentry-ruby/lib/sentry/rack/capture_exceptions.rb
  sentry-ruby/lib/sentry/span.rb
  sentry-ruby/lib/sentry/transaction.rb
  sentry-ruby/spec/sentry/rack/capture_exceptions_spec.rb
Labels: bug fix, sentry-ruby, tracing

#1208 Document public APIs on the Sentry module
  sentry-ruby/CHANGELOG.md
  sentry-ruby/lib/sentry-ruby.rb
Labels: documentation, sentry-ruby

#1209 Check the argument type of capture_exception and capture_event helpers
  sentry-ruby/CHANGELOG.md
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/hub.rb
  sentry-ruby/lib/sentry/scope.rb
  sentry-ruby/lib/sentry/utils/argument_checking_helper.rb
  sentry-ruby/spec/sentry/hub_spec.rb
Labels: enhancement, sentry-ruby

#1178 Add ThreadsInterface
  sentry-ruby/CHANGELOG.md
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/lib/sentry/event.rb
  sentry-ruby/lib/sentry/interface.rb
  sentry-ruby/lib/sentry/interfaces/threads.rb
  sentry-ruby/spec/sentry/client_spec.rb
Labels: enhancement

#1180 Inspect exception cause by default & don't exclude ActiveJob::DeserializationError
  sentry-rails/CHANGELOG.md
  sentry-rails/lib/sentry/rails/configuration.rb
  sentry-rails/spec/sentry/rails/activejob_spec.rb
  sentry-ruby/CHANGELOG.md
  sentry-ruby/README.md
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
Labels: active_job, bug fix, sentry-rails, sentry-ruby

#1206 Print deprecation message after sentry-raven is installed
  sentry-raven/sentry-raven.gemspec
Labels: enhancement, sentry-raven

#1213 Inline global method
  sentry-ruby/lib/sentry-ruby.rb
Labels: refactoring, sentry-ruby

#1215 Add `ActionDispatch::Http::MimeNegotiation::InvalidType` to the list of default ignored Rails exceptions
  sentry-rails/lib/sentry/rails/configuration.rb
Labels: enhancement, sentry-rails

#1217 Continue ActiveJob execution if Sentry is not initialized
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/spec/sentry/rails/activejob_spec.rb
Labels: active_job, bug fix, sentry-rails

#1218 Only extend ActiveJob when it's defined
  sentry-rails/lib/sentry/rails/railtie.rb
  sentry-rails/spec/sentry/rails/activejob_spec.rb
  sentry-rails/spec/support/test_rails_app/app.rb
Labels: active_job, bug fix, sentry-rails

#1221 Event message and exception message should have a size limit
  sentry-ruby/CHANGELOG.md
  sentry-ruby/lib/sentry/event.rb
Labels: bug fix, sentry-ruby

#1222 Filter out redundant event/payload from breadcrumbs logger
  sentry-rails/CHANGELOG.md
  sentry-rails/lib/sentry/rails/breadcrumb/active_support_logger.rb
  sentry-rails/spec/sentry/rails/active_support_breadcrumbs_spec.rb
Labels: bug fix, sentry-rails

#1223 Copy request env before Rails' ShowExceptions middleware
  sentry-rails/CHANGELOG.md
  sentry-rails/examples/rails-6.0/Gemfile
  sentry-rails/examples/rails-6.0/config/credentials.yml.enc
  sentry-rails/lib/sentry/rails/rescued_exception_interceptor.rb
  sentry-rails/spec/sentry/rails_spec.rb
Labels: bug fix, sentry-rails

#1224 Don't subscribe render_partial and render_collection events
  sentry-rails/CHANGELOG.md
  sentry-rails/lib/sentry/rails/tracing/action_view_subscriber.rb
Labels: bug fix, sentry-rails, tracing

#1225 Prepare changelog for sentry-rails 4.1.5
  sentry-rails/CHANGELOG.md
Labels: documentation, sentry-rails

#1229 Fix `metadata["changelog_uri"]` in gemspecs
  sentry-rails/sentry-rails.gemspec
  sentry-ruby/sentry-ruby-core.gemspec
  sentry-ruby/sentry-ruby.gemspec
  sentry-sidekiq/sentry-sidekiq.gemspec
Labels: documentation

#1230 Prevent exceptions app from overriding event's transaction name
  sentry-rails/CHANGELOG.md
  sentry-rails/lib/sentry/rails/rescued_exception_interceptor.rb
  sentry-rails/spec/sentry/rails_spec.rb
  sentry-rails/spec/support/test_rails_app/app.rb
Labels: bug fix, sentry-rails

#1126 Add configuration option for trusted proxies
  sentry-rails/lib/sentry/rails/railtie.rb
  sentry-rails/spec/sentry/rails_spec.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/event.rb
  sentry-ruby/lib/sentry/utils/real_ip.rb
  sentry-ruby/spec/sentry/event_spec.rb
  sentry-ruby/spec/sentry/utils/real_ip_spec.rb
Labels: enhancement, rails

#1235 Allow `Sentry.init` without block argument
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/spec/sentry_spec.rb
Labels: bug fix, sentry-ruby

#1233 Require the English library
  sentry-ruby/lib/sentry-ruby.rb
Labels: bug fix, sentry-ruby

#1240 CI: Workaround YAML gotcha in Actions
  .github/workflows/sentry_rails_test.yml
  .github/workflows/sentry_raven_test.yml
  .github/workflows/sentry_ruby_test.yml
  .github/workflows/sentry_sidekiq_test.yml
Labels: testing

#1231 Serialize event hint before passing it to the async block
  sentry-rails/examples/rails-6.0/config/application.rb
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/spec/sentry/client_spec.rb
Labels: bug fix, sentry-ruby

#1243 Don't detect project root for Rails apps
  sentry-ruby/CHANGELOG.md
  sentry-ruby/lib/sentry/configuration.rb
Labels: bug fix, sentry-ruby

#1242 Fix project root detection
  sentry-rails/CHANGELOG.md
  sentry-rails/lib/sentry/rails/railtie.rb
  sentry-rails/spec/sentry/rails/event_spec.rb
Labels: bug fix, sentry-rails

#1244 Use sentry-ruby-core as the main SDK dependency
  sentry-rails/CHANGELOG.md
  sentry-rails/sentry-rails.gemspec
Labels: sentry-rails

#1245 Use sentry-ruby-core as the main SDK dependency
  sentry-sidekiq/CHANGELOG.md
  sentry-sidekiq/sentry-sidekiq.gemspec
  sentry-sidekiq/spec/spec_helper.rb
Labels: sentry-sidekiq

#1238 Extract wrapped Sidekiq job class names in both Sidekiq integrations
  sentry-sidekiq/lib/sentry/sidekiq/cleanup_middleware.rb
  sentry-sidekiq/lib/sentry/sidekiq/context_filter.rb
  sentry-sidekiq/lib/sentry/sidekiq/error_handler.rb
  sentry-sidekiq/lib/sentry/sidekiq/sentry_context_middleware.rb
  sentry-sidekiq/spec/sentry/sidekiq/context_filter_spec.rb
  sentry-sidekiq/spec/sentry/sidekiq/error_handler_spec.rb
Labels: bug fix, sentry-sidekiq, sidekiq

#1250 Separate individual breadcrumb's data serialization
  sentry-ruby/lib/sentry/breadcrumb.rb
  sentry-ruby/lib/sentry/breadcrumb_buffer.rb
  sentry-ruby/spec/sentry/breadcrumb_buffer_spec.rb
  sentry-ruby/spec/sentry/breadcrumb_spec.rb
Labels: bug fix, sentry-ruby

#1255 Use env to carry original transaction name
  sentry-rails/CHANGELOG.md
  sentry-rails/lib/sentry/rails/capture_exceptions.rb
  sentry-rails/lib/sentry/rails/rescued_exception_interceptor.rb
  sentry-rails/spec/sentry/rails/tracing_spec.rb
  sentry-rails/spec/sentry/rails_spec.rb
Labels: bug fix, sentry-rails

#1254 Fix duration of tracing event in Rails 5
  sentry-rails/CHANGELOG.md
  sentry-rails/lib/sentry/rails/tracing/abstract_subscriber.rb
  sentry-rails/spec/sentry/rails/tracing_spec.rb
Labels: bug fix, sentry-rails, tracing

#1256 Allow users to configure ActiveJob adapters to ignore
  sentry-rails/CHANGELOG.md
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/lib/sentry/rails/configuration.rb
  sentry-rails/spec/sentry/rails/activejob_spec.rb
Labels: enhancement, sentry-rails

#1257 Add sidekiq adapter to sentry-rails' ignored adapters list
  sentry-sidekiq/.rspec
  sentry-sidekiq/CHANGELOG.md
  sentry-sidekiq/Gemfile
  sentry-sidekiq/lib/sentry-sidekiq.rb
  sentry-sidekiq/spec/sentry/rails_spec.rb
Labels: enhancement, sentry-sidekiq

#1258 Tag queue name and jid on sidekiq events
  sentry-sidekiq/CHANGELOG.md
  sentry-sidekiq/lib/sentry/sidekiq/sentry_context_middleware.rb
  sentry-sidekiq/spec/sentry/sidekiq_spec.rb
  sentry-sidekiq/spec/spec_helper.rb
Labels: enhancement, sentry-sidekiq

#1259 Tag job_id and provider_job_id on ActiveJob events
  sentry-rails/CHANGELOG.md
  sentry-rails/examples/rails-6.0/app/jobs/error_job.rb
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/spec/sentry/rails/activejob_spec.rb
Labels: active_job, enhancement, sentry-rails
