Repository getsentry/sentry-ruby, pull requests merged in 2021-04, with the labels that each got.

#1375 Fix set_contexts
  sentry-ruby/CHANGELOG.md
  sentry-ruby/lib/sentry/scope.rb
  sentry-ruby/spec/sentry/hub_spec.rb
  sentry-ruby/spec/sentry/scope/setters_spec.rb
Labels: bug fix, sentry-ruby

#1335 Fix sampling decision precedence
  sentry-ruby/CHANGELOG.md
  sentry-ruby/lib/sentry/hub.rb
  sentry-ruby/lib/sentry/transaction.rb
  sentry-ruby/spec/sentry/rack/capture_exceptions_spec.rb
  sentry-ruby/spec/sentry/transaction_spec.rb
  sentry-ruby/spec/sentry_spec.rb
Labels: bug fix, sentry-ruby, tracing

#1380 Use thread variable instead of fiber variable to store the hub
  sentry-ruby/CHANGELOG.md
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/spec/sentry_spec.rb
Labels: bug fix, sentry-ruby

#1387 Don't assign Rails.logger if it's not present
  sentry-rails/CHANGELOG.md
  sentry-rails/lib/sentry/rails/configuration.rb
  sentry-rails/spec/sentry/rails_spec.rb
Labels: bug fix, sentry-rails

#1384 Let Transaction constructor take an optional hub argument
  sentry-ruby/CHANGELOG.md
  sentry-ruby/lib/sentry/hub.rb
  sentry-ruby/lib/sentry/span.rb
  sentry-ruby/lib/sentry/transaction.rb
  sentry-ruby/spec/sentry/transaction_spec.rb
Labels: refactoring, sentry-ruby, tracing

#1385 Introduce LoggingHelper
  sentry-ruby/CHANGELOG.md
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/background_worker.rb
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/transaction.rb
  sentry-ruby/lib/sentry/transport.rb
  sentry-ruby/lib/sentry/transport/http_transport.rb
  sentry-ruby/lib/sentry/utils/logging_helper.rb
  sentry-ruby/spec/sentry/client/event_sending_spec.rb
  sentry-ruby/spec/sentry/client_spec.rb
  sentry-ruby/spec/sentry/event_spec.rb
  sentry-ruby/spec/sentry/scope_spec.rb
  sentry-ruby/spec/sentry/span_spec.rb
  sentry-ruby/spec/sentry/transaction_spec.rb
  sentry-ruby/spec/sentry/transport/http_transport_spec.rb
Labels: refactoring, sentry-ruby

#1336 Support category-based rate limiting
  sentry-rails/examples/rails-6.0/config/initializers/sentry.rb
  sentry-ruby/CHANGELOG.md
  sentry-ruby/Gemfile
  sentry-ruby/lib/sentry/transport.rb
  sentry-ruby/lib/sentry/transport/http_transport.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
  sentry-ruby/spec/sentry/hub_spec.rb
  sentry-ruby/spec/sentry/transaction_spec.rb
  sentry-ruby/spec/sentry/transport/http_transport_rate_limiting_spec.rb
  sentry-ruby/spec/sentry/transport_spec.rb
  sentry-ruby/spec/sentry_spec.rb
  sentry-ruby/spec/spec_helper.rb
Labels: enhancement, sentry-ruby

#1364 Allow delayed job's exceptions to be reported to sentry until the last job retry
  sentry-delayed_job/CHANGELOG.md
  sentry-delayed_job/lib/sentry-delayed_job.rb
  sentry-delayed_job/lib/sentry/delayed_job/configuration.rb
  sentry-delayed_job/lib/sentry/delayed_job/plugin.rb
  sentry-delayed_job/spec/sentry/delayed_job/configuration_spec.rb
  sentry-delayed_job/spec/sentry/delayed_job_spec.rb
Labels: enhancement, sentry-delayed_job

#1379 Report exceptions from the interceptor middleware for exceptions app
  sentry-rails/CHANGELOG.md
  sentry-rails/lib/sentry/rails/capture_exceptions.rb
  sentry-rails/lib/sentry/rails/rescued_exception_interceptor.rb
  sentry-rails/spec/sentry/rails_spec.rb
  sentry-rails/spec/support/test_rails_app/app.rb
Labels: bug fix, sentry-rails

#1391 Raise exception if a Transaction is initialized without a hub
  sentry-ruby/CHANGELOG.md
  sentry-ruby/lib/sentry/transaction.rb
  sentry-ruby/spec/sentry/scope_spec.rb
  sentry-ruby/spec/sentry/transaction_spec.rb
  sentry-ruby/spec/sentry/transport/http_transport_rate_limiting_spec.rb
Labels: refactoring, sentry-ruby

#1381 Record request span from Net::HTTP library
  sentry-ruby/CHANGELOG.md
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/net/http.rb
  sentry-ruby/spec/sentry/net/http_spec.rb
Labels: enhancement, sentry-ruby

#1344 Make tracing subscribers configurable
  sentry-rails/CHANGELOG.md
  sentry-rails/lib/sentry/rails/configuration.rb
  sentry-rails/lib/sentry/rails/railtie.rb
  sentry-rails/lib/sentry/rails/tracing.rb
  sentry-rails/lib/sentry/rails/tracing/action_controller_subscriber.rb
  sentry-rails/lib/sentry/rails/tracing/action_view_subscriber.rb
  sentry-rails/lib/sentry/rails/tracing/active_record_subscriber.rb
  sentry-rails/spec/sentry/rails/configuration_spec.rb
  sentry-rails/spec/sentry/rails/tracing/action_controller_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/tracing/action_view_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/tracing/active_record_subscriber_spec.rb
  sentry-rails/spec/spec_helper.rb
Labels: enhancement, refactoring, sentry-rails, tracing

#1394 Record breadcrumb for Net::HTTP requests
  sentry-ruby/CHANGELOG.md
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/net/http.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
  sentry-ruby/spec/sentry/net/http_spec.rb
Labels: enhancement, sentry-ruby

#1398 Mock all http requests in Sentry::Net::HTTP's specs
  sentry-ruby/Gemfile
  sentry-ruby/spec/sentry/net/http_spec.rb
Labels: sentry-ruby, testing

#1401 Make hub a required argument for Transaction constructor
  sentry-rails/spec/sentry/rails/tracing/action_controller_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/tracing/action_view_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/tracing/active_record_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/tracing_spec.rb
  sentry-ruby/CHANGELOG.md
  sentry-ruby/lib/sentry/transaction.rb
  sentry-ruby/spec/sentry/rack/capture_exceptions_spec.rb
  sentry-ruby/spec/sentry/scope_spec.rb
  sentry-ruby/spec/sentry/span_spec.rb
  sentry-ruby/spec/sentry/transaction_spec.rb
  sentry-ruby/spec/sentry/transport_spec.rb
  sentry-ruby/spec/sentry_spec.rb
Labels: refactoring, sentry-ruby

#1405 Re-position CaptureExceptions middleware to reduce tracing noise
  sentry-rails/CHANGELOG.md
  sentry-rails/lib/sentry/rails/capture_exceptions.rb
  sentry-rails/lib/sentry/rails/overrides/file_handler.rb
  sentry-rails/lib/sentry/rails/railtie.rb
  sentry-rails/spec/sentry/rails/tracing_spec.rb
  sentry-rails/spec/sentry/rails_spec.rb
Labels: bug fix, sentry-rails, tracing

#1395 Use context for delayed_job's job info
  sentry-delayed_job/CHANGELOG.md
  sentry-delayed_job/lib/sentry/delayed_job/plugin.rb
  sentry-delayed_job/spec/sentry/delayed_job_spec.rb
Labels: enhancement, sentry-delayed_job

#1407 Always run builds for all integrations
  .github/workflows/sentry_delayed_job_test.yml
  .github/workflows/sentry_rails_test.yml
  .github/workflows/sentry_ruby_test.yml
  .github/workflows/sentry_sidekiq_test.yml
  sentry-sidekiq/Gemfile
Labels: testing

#1406 Move active job context filter to sentry-rails
  sentry-rails/CHANGELOG.md
  sentry-rails/lib/sentry/rails/active_job_context_filter.rb
  sentry-rails/spec/sentry/rails/active_job_context_filter_spec.rb
  sentry-sidekiq/CHANGELOG.md
  sentry-sidekiq/lib/sentry/sidekiq/context_filter.rb
Labels: refactoring, sentry-rails, sentry-sidekiq

#1409 Revert "Move active job context filter to sentry-rails (#1406)"
  sentry-rails/CHANGELOG.md
  sentry-rails/lib/sentry/rails/active_job_context_filter.rb
  sentry-sidekiq/CHANGELOG.md
  sentry-sidekiq/lib/sentry/sidekiq/context_filter.rb
  sentry-sidekiq/spec/sentry/sidekiq/context_filter_spec.rb
Labels: bug fix, sentry-rails, sentry-sidekiq

#1410 Make Sidekiq job context more readable
  sentry-sidekiq/CHANGELOG.md
  sentry-sidekiq/example/error_worker.rb
  sentry-sidekiq/lib/sentry/sidekiq/context_filter.rb
  sentry-sidekiq/lib/sentry/sidekiq/error_handler.rb
  sentry-sidekiq/lib/sentry/sidekiq/sentry_context_middleware.rb
  sentry-sidekiq/spec/sentry/sidekiq/context_filter_spec.rb
  sentry-sidekiq/spec/sentry/sidekiq/error_handler_spec.rb
  sentry-sidekiq/spec/sentry/sidekiq_spec.rb
Labels: enhancement, sentry-sidekiq

#1412 Add spec for release detection error condition
  sentry-ruby/spec/sentry/configuration_spec.rb
Labels: sentry-ruby, testing

#1400 Support config.debug configuration option
  sentry-ruby/CHANGELOG.md
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/utils/logging_helper.rb
  sentry-ruby/spec/sentry/client/event_sending_spec.rb
Labels: enhancement, sentry-ruby

#1414 Update changelogs for v4.4.0
  sentry-ruby/CHANGELOG.md
  sentry-sidekiq/CHANGELOG.md
Labels: documentation, sentry-ruby, sentry-sidekiq

#1415 Check Scope#set_context's value argument
  sentry-ruby/CHANGELOG.md
  sentry-ruby/lib/sentry/scope.rb
  sentry-ruby/spec/sentry/hub_spec.rb
  sentry-ruby/spec/sentry/scope/setters_spec.rb
Labels: bug fix, sentry-ruby

#1416 Always trigger SDK workflows
  .github/workflows/sentry_delayed_job_test.yml
  .github/workflows/sentry_rails_test.yml
  .github/workflows/sentry_ruby_test.yml
  .github/workflows/sentry_sidekiq_test.yml
Labels: testing

#1413 Update contributing doc
  CONTRIBUTING.md
  sentry-raven/CONTRIBUTING.md
Labels: documentation, sentry-delayed_job, sentry-rails, sentry-ruby, sentry-sidekiq

#1402 Add the third tracing state
  sentry-ruby/CHANGELOG.md
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
  sentry-ruby/spec/sentry/transaction_spec.rb
Labels: enhancement, sentry-ruby

#1417 Update changelogs for v4.4.0-beta.0 release
  sentry-delayed_job/CHANGELOG.md
  sentry-rails/CHANGELOG.md
  sentry-ruby/CHANGELOG.md
  sentry-sidekiq/CHANGELOG.md
Labels: documentation, sentry-delayed_job, sentry-rails, sentry-ruby, sentry-sidekiq

#1418 Bump integration dependency
  .github/workflows/sentry_rails_test.yml
  .github/workflows/sentry_ruby_test.yml
  sentry-delayed_job/sentry-delayed_job.gemspec
  sentry-rails/sentry-rails.gemspec
  sentry-sidekiq/sentry-sidekiq.gemspec
Labels: sentry-delayed_job, sentry-rails, sentry-sidekiq

#1419 Remove allocation comparison steps from sentry-ruby & sentry-rails
  .github/workflows/sentry_rails_test.yml
  .github/workflows/sentry_ruby_test.yml
Labels: testing

#1420 Add test cases for traces_sampler example
  sentry-ruby/spec/sentry_spec.rb
Labels: sentry-ruby, testing, tracing

#1421 Disable tracing if events are not allowed to be sent
  sentry-ruby/CHANGELOG.md
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
  sentry-ruby/spec/sentry_spec.rb
Labels: bug fix, sentry-ruby, tracing
