Repository getsentry/sentry-ruby, pull requests merged in 2021-02, with the labels that each got.

#1247 Filter out static file transaction
  sentry-rails/CHANGELOG.md
  sentry-rails/Gemfile
  sentry-rails/lib/sentry/rails/capture_exceptions.rb
  sentry-rails/lib/sentry/rails/overrides/file_handler.rb
  sentry-rails/lib/sentry/rails/railtie.rb
  sentry-rails/spec/sentry/rails/tracing_spec.rb
  sentry-rails/spec/support/test_rails_app/app/assets/config/manifest.js
  sentry-rails/spec/support/test_rails_app/config.ru
  sentry-rails/spec/support/test_rails_app/public/static.html
Labels: bug fix, sentry-rails, tracing

#1262 Fix build
  .github/workflows/sentry_rails_test.yml
  .github/workflows/sentry_raven_test.yml
  .github/workflows/sentry_ruby_test.yml
  .github/workflows/sentry_sidekiq_test.yml
  sentry-rails/Gemfile
  sentry-raven/Gemfile
  sentry-ruby/Gemfile
  sentry-sidekiq/Gemfile
Labels: testing

#1260 Capture sentry-trace with the correct http header key
  sentry-rails/spec/sentry/rails/tracing_spec.rb
  sentry-rails/spec/support/test_rails_app/app.rb
  sentry-ruby/CHANGELOG.md
  sentry-ruby/lib/sentry/rack/capture_exceptions.rb
  sentry-ruby/spec/sentry/rack/capture_exceptions_spec.rb
Labels: bug fix, sentry-ruby, tracing

#1261 Add ability to have many post initialization callbacks
  sentry-rails/CHANGELOG.md
  sentry-rails/lib/sentry/rails/configuration.rb
  sentry-ruby/CHANGELOG.md
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
Labels: enhancement, sentry-rails, sentry-ruby

#1253 Support config.before_breadcrumb
  sentry-ruby/CHANGELOG.md
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/hub.rb
  sentry-ruby/spec/sentry/hub_spec.rb
Labels: enhancement, sentry-ruby

#1264 Rename ignored_active_job_adapters to skippable_job_adapters
  sentry-rails/CHANGELOG.md
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/lib/sentry/rails/configuration.rb
  sentry-rails/spec/sentry/rails/activejob_spec.rb
  sentry-sidekiq/lib/sentry-sidekiq.rb
  sentry-sidekiq/spec/sentry/rails_spec.rb
Labels: active_job, sentry-rails, sentry-sidekiq

#1232 Version 4.2.0
  sentry-rails/CHANGELOG.md
  sentry-rails/app/jobs/sentry/send_event_job.rb
  sentry-rails/examples/rails-6.0/app/jobs/error_job.rb
  sentry-rails/examples/rails-6.0/config/initializers/sentry.rb
  sentry-rails/lib/sentry/rails.rb
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/lib/sentry/rails/configuration.rb
  sentry-rails/lib/sentry/rails/engine.rb
  sentry-rails/lib/sentry/rails/railtie.rb
  sentry-rails/spec/sentry/rails/activejob_spec.rb
  sentry-rails/spec/sentry/rails_spec.rb
  sentry-rails/spec/sentry/send_event_job_spec.rb
  sentry-ruby/CHANGELOG.md
  sentry-ruby/README.md
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/event.rb
  sentry-ruby/lib/sentry/hub.rb
  sentry-ruby/lib/sentry/interface.rb
  sentry-ruby/lib/sentry/interfaces/threads.rb
  sentry-ruby/lib/sentry/utils/real_ip.rb
  sentry-ruby/spec/sentry/client_spec.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
  sentry-ruby/spec/sentry/event_spec.rb
  sentry-ruby/spec/sentry/hub_spec.rb
  sentry-ruby/spec/sentry/utils/real_ip_spec.rb
  sentry-sidekiq/.rspec
  sentry-sidekiq/CHANGELOG.md
  sentry-sidekiq/Gemfile
  sentry-sidekiq/lib/sentry-sidekiq.rb
  sentry-sidekiq/lib/sentry/sidekiq/sentry_context_middleware.rb
  sentry-sidekiq/spec/sentry/rails_spec.rb
  sentry-sidekiq/spec/sentry/sidekiq_spec.rb
  sentry-sidekiq/spec/spec_helper.rb
Labels: enhancement, sentry-rails, sentry-ruby, sentry-sidekiq

#1265 Gracefully handle "sentry-trace" headers that don't match the regexp
  sentry-ruby/CHANGELOG.md
  sentry-ruby/lib/sentry/rack/capture_exceptions.rb
  sentry-ruby/lib/sentry/transaction.rb
  sentry-ruby/spec/sentry/rack/capture_exceptions_spec.rb
  sentry-ruby/spec/sentry/transaction_spec.rb
Labels: bug fix, sentry-ruby, tracing

#1269 Transaction created by .from_sentry_trace should inherit sampling decision
  sentry-rails/spec/sentry/rails/tracing_spec.rb
  sentry-ruby/CHANGELOG.md
  sentry-ruby/lib/sentry/transaction.rb
  sentry-ruby/spec/sentry/transaction_spec.rb
Labels: bug fix, sentry-ruby, tracing

#1278 Transaction's sample rate should accept any numeric value
  sentry-ruby/CHANGELOG.md
  sentry-ruby/lib/sentry/transaction.rb
  sentry-ruby/spec/sentry/transaction_spec.rb
Labels: bug fix, sentry-ruby, tracing

#1273 Add sentry-delayed_job integration
  .github/workflows/release.yml
  .github/workflows/sentry_delayed_job_test.yml
  sentry-delayed_job/.craft.yml
  sentry-delayed_job/.gitignore
  sentry-delayed_job/.rspec
  sentry-delayed_job/CHANGELOG.md
  sentry-delayed_job/CODE_OF_CONDUCT.md
  sentry-delayed_job/Gemfile
  sentry-delayed_job/LICENSE.txt
  sentry-delayed_job/Makefile
  sentry-delayed_job/README.md
  sentry-delayed_job/Rakefile
  sentry-delayed_job/bin/console
  sentry-delayed_job/bin/setup
  sentry-delayed_job/example/Gemfile
  sentry-delayed_job/example/app.rb
  sentry-delayed_job/lib/sentry-delayed_job.rb
  sentry-delayed_job/lib/sentry/delayed_job/plugin.rb
  sentry-delayed_job/lib/sentry/delayed_job/version.rb
  sentry-delayed_job/sentry-delayed_job.gemspec
  sentry-delayed_job/spec/sentry/delayed_job_spec.rb
  sentry-delayed_job/spec/spec_helper.rb
  sentry-ruby/README.md
Labels: enhancement, sentry-delayed_job

#1275 Add additional checks to SendEventJob's definition
  sentry-rails/CHANGELOG.md
  sentry-rails/app/jobs/sentry/send_event_job.rb
  sentry-rails/spec/sentry/send_event_job_spec.rb
  sentry-rails/spec/spec_helper.rb
Labels: bug fix, sentry-rails

#1280 Expand CI matrix for Rails 5 versions
  .github/workflows/sentry_rails_test.yml
  sentry-rails/Gemfile
Labels: sentry-rails, testing

#1285 Convert job id to string to avoid weird syntax error
  sentry-delayed_job/CHANGELOG.md
  sentry-delayed_job/lib/sentry/delayed_job/plugin.rb
  sentry-delayed_job/spec/sentry/delayed_job_spec.rb
Labels: bug fix, sentry-delayed_job

#1284 Use ::Rails::Railtie for checking Rails definition
  sentry-sidekiq/CHANGELOG.md
  sentry-sidekiq/lib/sentry-sidekiq.rb
Labels: bug fix, sentry-sidekiq

#1287 Use ::Rails::Railtie for checking Rails definition
  sentry-delayed_job/CHANGELOG.md
  sentry-delayed_job/lib/sentry-delayed_job.rb
Labels: bug fix, sentry-delayed_job

#1286 Always define Sentry::SendEventJob to avoid eager load issues
  sentry-rails/CHANGELOG.md
  sentry-rails/app/jobs/sentry/send_event_job.rb
  sentry-rails/spec/sentry/send_event_job_spec.rb
Labels: bug fix, sentry-rails

#1288 always convert trusted proxies to string
  sentry-ruby/CHANGELOG.md
  sentry-ruby/lib/sentry/utils/real_ip.rb
  sentry-ruby/spec/sentry/utils/real_ip_spec.rb
Labels: bug fix, sentry-ruby

#1291 Add thread_id to Exception interface
  sentry-ruby/lib/sentry/event.rb
  sentry-ruby/lib/sentry/interfaces/single_exception.rb
  sentry-ruby/spec/sentry/client_spec.rb
Labels: bug fix, sentry-ruby

#1296 Refactor event interface construction
  sentry-rails/examples/rails-6.0/config/initializers/sentry.rb
  sentry-ruby/CHANGELOG.md
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/event.rb
  sentry-ruby/lib/sentry/interfaces/exception.rb
  sentry-ruby/lib/sentry/interfaces/request.rb
  sentry-ruby/lib/sentry/interfaces/single_exception.rb
  sentry-ruby/lib/sentry/interfaces/stacktrace.rb
  sentry-ruby/lib/sentry/interfaces/stacktrace_builder.rb
  sentry-ruby/lib/sentry/interfaces/threads.rb
  sentry-ruby/spec/sentry/event_spec.rb
  sentry-ruby/spec/sentry/interfaces/request_interface_spec.rb
  sentry-ruby/spec/sentry/interfaces/stacktrace_builder_spec.rb
Labels: refactoring, sentry-ruby
