Repository getsentry/sentry-ruby, pull requests merged in 2021-05, with the labels that each got.

#1425 Update latest changelog entry
  sentry-delayed_job/CHANGELOG.md
  sentry-rails/CHANGELOG.md
  sentry-ruby/CHANGELOG.md
  sentry-sidekiq/CHANGELOG.md
Labels: documentation, sentry-delayed_job, sentry-rails, sentry-ruby, sentry-sidekiq

#1432 Apply patches when initializing the SDK
  sentry-ruby/CHANGELOG.md
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/net/http.rb
Labels: bug fix, sentry-ruby

#1433 Fix NoMethodError when SDK's dsn is nil
  sentry-ruby/CHANGELOG.md
  sentry-ruby/lib/sentry/net/http.rb
  sentry-ruby/spec/sentry/net/http_spec.rb
Labels: bug fix, sentry-ruby

#1434 fix: Update protocol version to 7
  sentry-ruby/CHANGELOG.md
  sentry-ruby/lib/sentry/transport.rb
  sentry-ruby/spec/sentry/transport_spec.rb
Labels: bug fix, sentry-ruby

#1426 Fix original user context mutated in block
  sentry-raven/lib/raven/instance.rb
  sentry-raven/spec/raven/instance_spec.rb
  sentry-ruby/CHANGELOG.md
Labels: bug fix, sentry-raven

#1440 Move #1426's changelog entry to the correct location
  sentry-raven/CHANGELOG.md
  sentry-ruby/CHANGELOG.md
Labels: documentation

#1444 Add sentry_trace connection example
  sentry-rails/examples/rails-6.0/app/controllers/welcome_controller.rb
  sentry-rails/examples/rails-6.0/config/routes.rb
  sentry-ruby/examples/sinatra/app.rb
Labels: sentry-rails, sentry-ruby, tracing

#1447 Allow toggling background sending on the fly
  sentry-ruby/CHANGELOG.md
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/spec/sentry/client/event_sending_spec.rb
Labels: bug fix, sentry-ruby

#1448 Disable background worker for runner mode
  sentry-rails/CHANGELOG.md
  sentry-rails/lib/sentry/rails/railtie.rb
  sentry-rails/spec/sentry/rails_spec.rb
Labels: bug fix, sentry-rails

#1446 Implement sentry-trace propagation
  sentry-rails/examples/rails-6.0/app/controllers/welcome_controller.rb
  sentry-ruby/CHANGELOG.md
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/net/http.rb
  sentry-ruby/spec/sentry/client_spec.rb
  sentry-ruby/spec/sentry/hub_spec.rb
  sentry-ruby/spec/sentry/net/http_spec.rb
Labels: enhancement, sentry-ruby, tracing

#1450 Batch release prepare
  .craft.yml
  .github/workflows/prepare_batch_release.yml
  .scripts/batch_release.rb
  CHANGELOG.md
Labels: release

#1455 Add "Batch Build Release" workflow
  .github/workflows/batch_build_release.yml
  .scripts/batch_build.rb
Labels: release

#1456 Use Ruby 2.7 to build gem source
  .github/workflows/batch_build_release.yml
  .github/workflows/build_release.yml
Labels: release

#1458 Move unreleased entries to project changelog and deprecate old ones
  CHANGELOG.md
  sentry-delayed_job/CHANGELOG.md
  sentry-delayed_job/sentry-delayed_job.gemspec
  sentry-rails/CHANGELOG.md
  sentry-rails/sentry-rails.gemspec
  sentry-ruby/CHANGELOG.md
  sentry-ruby/sentry-ruby-core.gemspec
  sentry-ruby/sentry-ruby.gemspec
  sentry-sidekiq/CHANGELOG.md
  sentry-sidekiq/sentry-sidekiq.gemspec
Labels: documentation, release

#1453 Add configuration option skip_rake_integration
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/rake.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
  sentry-ruby/spec/sentry/rake_spec.rb
  sentry-ruby/spec/support/Rakefile.rb
Labels: enhancement, sentry-ruby

#1459 Continue #1453
  CHANGELOG.md
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
  sentry-ruby/spec/support/Rakefile.rb
Labels: sentry-ruby
