Repository getsentry/sentry-ruby, pull requests merged in 2022-08, with the labels that each got.

#1860 Fix sentry_logger when SDK is closed from another thread
  sentry-ruby/lib/sentry/breadcrumb/sentry_logger.rb
  sentry-ruby/spec/sentry/breadcrumb/sentry_logger_spec.rb
Labels: bug fix, sentry-ruby

#1867 Manually require `sidekiq/api` for RetrySet class
  sentry-sidekiq/spec/sentry/sidekiq_spec.rb
Labels: testing, bug fix, sentry-sidekiq

#1868 Fix sentry-raven's sidekiq specs. See #1867
  sentry-raven/spec/raven/integrations/sidekiq_spec.rb
Labels: testing, bug fix, sentry-raven
