Repository getsentry/sentry-ruby, pull requests merged in 2022-03, with the labels that each got.

#1753 Require `set` library
  CHANGELOG.md
  sentry-ruby/lib/sentry/interfaces/exception.rb
Labels: bug fix, sentry-ruby

#1726 Log Redis command arguments if send_default_pii = true
  CHANGELOG.md
  sentry-ruby/lib/sentry/redis.rb
  sentry-ruby/spec/sentry/breadcrumb/redis_logger_spec.rb
  sentry-ruby/spec/sentry/redis_spec.rb
Labels: enhancement, sentry-ruby

#1715 feat(sessions): Implement automatic session tracking
  CHANGELOG.md
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/hub.rb
  sentry-ruby/lib/sentry/rack/capture_exceptions.rb
  sentry-ruby/lib/sentry/scope.rb
  sentry-ruby/lib/sentry/session.rb
  sentry-ruby/lib/sentry/session_flusher.rb
  sentry-ruby/lib/sentry/transport.rb
  sentry-ruby/lib/sentry/transport/dummy_transport.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
  sentry-ruby/spec/sentry/rack/capture_exceptions_spec.rb
  sentry-ruby/spec/sentry/session_flusher_spec.rb
  sentry-ruby/spec/sentry/transport/http_transport_rate_limiting_spec.rb
Labels: enhancement, sentry spec, sentry-ruby

#1747 Check envelope size before sending it
  CHANGELOG.md
  sentry-ruby/lib/sentry/envelope.rb
  sentry-ruby/lib/sentry/event.rb
  sentry-ruby/lib/sentry/transport.rb
  sentry-ruby/spec/sentry/transport/http_transport_spec.rb
  sentry-ruby/spec/sentry/transport_spec.rb
Labels: enhancement, sentry-ruby

#1758 Also check stringified breadcrumbs key when reducing payload size
  CHANGELOG.md
  sentry-ruby/lib/sentry/transport.rb
  sentry-ruby/spec/sentry/transport_spec.rb
Labels: bug fix, sentry-ruby

#1759 Warn user if any integration is required after SDK initialization
  CHANGELOG.md
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/spec/sentry/integrable_spec.rb
Labels: bug fix, sentry-ruby

#1764 Explicitly use https as github-sourced gems' protocol
  sentry-delayed_job/Gemfile
  sentry-rails/Gemfile
  sentry-raven/Gemfile
  sentry-resque/Gemfile
  sentry-ruby/Gemfile
  sentry-sidekiq/Gemfile
Labels: testing

#1762 fix: TransactionEvent should not set level to :error
  sentry-ruby/lib/sentry/transaction_event.rb
Labels: bug fix, sentry-ruby

#1767 fix: Set last_event_id only for error events
  CHANGELOG.md
  sentry-ruby/lib/sentry/hub.rb
  sentry-ruby/spec/sentry/hub_spec.rb
Labels: bug fix, sentry-ruby

#1770 Fix integration loading warning message
  sentry-ruby/lib/sentry-ruby.rb
Labels: bug fix, sentry-ruby

#1771 Add config.rails.register_error_subscriber to control error reporter integration
  CHANGELOG.md
  sentry-rails/lib/sentry/rails/configuration.rb
  sentry-rails/lib/sentry/rails/railtie.rb
  sentry-rails/spec/sentry/rails_spec.rb
Labels: bug fix, sentry-rails

#1769 Check if ActiveRecord connection exists before calling AR connection pool
  CHANGELOG.md
  sentry-rails/lib/sentry/rails/background_worker.rb
Labels: bug fix, sentry-rails

#1777 Correct inaccurate event model relationships
  CHANGELOG.md
  sentry-rails/spec/sentry/send_event_job_spec.rb
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/lib/sentry/error_event.rb
  sentry-ruby/lib/sentry/event.rb
  sentry-ruby/lib/sentry/transaction_event.rb
  sentry-ruby/lib/sentry/transport.rb
  sentry-ruby/spec/sentry/client/event_sending_spec.rb
  sentry-ruby/spec/sentry/client_spec.rb
  sentry-ruby/spec/sentry/hub_spec.rb
  sentry-ruby/spec/sentry_spec.rb
Labels: refactoring, sentry-ruby
