Repository getsentry/sentry-ruby, pull requests merged in 2022-10, with the labels that each got.

#1914 Remove bad encoding arguments in redis span descriptions
  CHANGELOG.md
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/interfaces/request.rb
  sentry-ruby/lib/sentry/redis.rb
  sentry-ruby/lib/sentry/utils/encoding_helper.rb
  sentry-ruby/spec/sentry/redis_spec.rb
Labels: bug fix, sentry-ruby

#1912 Release connection pool only when active record is connected
  CHANGELOG.md
  sentry-rails/lib/sentry/rails/background_worker.rb
Labels: bug fix, sentry-rails

#1915 Allow users to configure their asset-skipping pattern
  CHANGELOG.md
  sentry-rails/lib/sentry/rails/capture_exceptions.rb
  sentry-rails/lib/sentry/rails/configuration.rb
  sentry-rails/spec/sentry/rails/tracing_spec.rb
Labels: enhancement, sentry-rails

#1920 Use `Sentry.with_child_span` in redis and net/http patches
  CHANGELOG.md
  sentry-ruby/lib/sentry/net/http.rb
  sentry-ruby/lib/sentry/redis.rb
  sentry-ruby/spec/sentry/net/http_spec.rb
Labels: sentry-ruby

#1919 Add missing initialized? checks to sentry-rails
  CHANGELOG.md
  sentry-rails/lib/sentry/rails/controller_transaction.rb
  sentry-rails/lib/sentry/rails/tracing.rb
Labels: bug fix, sentry-rails

#1926 Fix return in do..end block
  sentry-rails/lib/sentry/rails/controller_transaction.rb
Labels: bug fix, sentry-ruby

#1924 Use `Exception#detailed_message` when generating exception message if applicable
  CHANGELOG.md
  sentry-rails/spec/sentry/rails_spec.rb
  sentry-ruby/lib/sentry/interfaces/single_exception.rb
  sentry-ruby/spec/sentry/client_spec.rb
  sentry-ruby/spec/sentry/event_spec.rb
  sentry-sidekiq/spec/sentry/sidekiq/error_handler_spec.rb
  sentry-sidekiq/spec/sentry/sidekiq_spec.rb
Labels: enhancement, sentry-ruby

#1921 Make transaction a required argument of Span
  CHANGELOG.md
  sentry-ruby/lib/sentry/span.rb
  sentry-ruby/lib/sentry/transaction.rb
  sentry-ruby/spec/sentry/client_spec.rb
  sentry-ruby/spec/sentry/scope/setters_spec.rb
  sentry-ruby/spec/sentry/scope_spec.rb
  sentry-ruby/spec/sentry/span_spec.rb
  sentry-ruby/spec/sentry_spec.rb
Labels: refactoring, sentry-ruby

#1922 Fix setting the sentry-trace header in net/http
  CHANGELOG.md
  sentry-ruby/lib/sentry/net/http.rb
  sentry-ruby/spec/contexts/with_request_mock.rb
  sentry-ruby/spec/sentry/net/http_spec.rb
Labels: bug fix, sentry-ruby

#1923 Update Tracing Span's op names
  CHANGELOG.md
  sentry-delayed_job/lib/sentry/delayed_job/plugin.rb
  sentry-delayed_job/spec/sentry/delayed_job_spec.rb
  sentry-rails/lib/sentry/rails/action_cable.rb
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/lib/sentry/rails/capture_exceptions.rb
  sentry-rails/lib/sentry/rails/tracing/action_controller_subscriber.rb
  sentry-rails/lib/sentry/rails/tracing/active_storage_subscriber.rb
  sentry-rails/spec/sentry/rails/action_cable_spec.rb
  sentry-rails/spec/sentry/rails/activejob_spec.rb
  sentry-rails/spec/sentry/rails/tracing/action_controller_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/tracing/active_storage_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/tracing_spec.rb
  sentry-resque/lib/sentry/resque.rb
  sentry-resque/spec/sentry/tracing_spec.rb
  sentry-ruby/lib/sentry/rack/capture_exceptions.rb
  sentry-ruby/lib/sentry/redis.rb
  sentry-ruby/spec/sentry/breadcrumb/redis_logger_spec.rb
  sentry-ruby/spec/sentry/rack/capture_exceptions_spec.rb
  sentry-ruby/spec/sentry/redis_spec.rb
  sentry-sidekiq/lib/sentry/sidekiq/sentry_context_middleware.rb
  sentry-sidekiq/spec/sentry/sidekiq_spec.rb
Labels: enhancement, sentry spec, sentry-rails, sentry-ruby, sentry-sidekiq, sentry-delayed_job, sentry-resque
