Repository getsentry/sentry-ruby, pull requests merged in 2022-09, with the labels that each got.

#1880 Update error subscriber doc
  sentry-rails/lib/sentry/rails/error_subscriber.rb
  sentry-resque/Gemfile
Labels: documentation, sentry-rails

#1884 Support rack 3
  .github/workflows/sentry_delayed_job_test.yml
  .github/workflows/sentry_rails_test.yml
  .github/workflows/sentry_raven_test.yml
  .github/workflows/sentry_resque_test.yml
  .github/workflows/sentry_ruby_test.yml
  .github/workflows/sentry_sidekiq_test.yml
  CHANGELOG.md
  sentry-resque/Gemfile
  sentry-resque/spec/spec_helper.rb
  sentry-ruby/Gemfile
  sentry-ruby/lib/sentry/interfaces/request.rb
  sentry-ruby/spec/sentry/rack/capture_exceptions_spec.rb
Labels: testing, sentry-rails, sentry-ruby, sentry-sidekiq, sentry-delayed_job, sentry-resque

#1888 Raven CI still needs bundler: 1
  .github/workflows/sentry_raven_test.yml
Labels: testing, sentry-raven

#1892 Memoize session.aggregation_key
  CHANGELOG.md
  sentry-ruby/lib/sentry/session.rb
Labels: bug fix, sentry-ruby

#1893 Add Ruby head to CI matrix
  .github/workflows/sentry_delayed_job_test.yml
  .github/workflows/sentry_rails_test.yml
  .github/workflows/sentry_resque_test.yml
  .github/workflows/sentry_ruby_test.yml
  .github/workflows/sentry_sidekiq_test.yml
Labels: testing

#1897 Execute with_scope's block even when SDK is not initialized
  CHANGELOG.md
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/spec/initialization_check_spec.rb
Labels: bug fix, sentry-ruby

#1901 Configure Rails 7.1's test app separately
  sentry-rails/spec/dummy/test_rails_app/app.rb
  sentry-rails/spec/dummy/test_rails_app/apps/7-1.rb
  sentry-rails/spec/dummy/test_rails_app/configs/7-1.rb
Labels: testing, sentry-rails

#1900 Make sure test helper clears the current scope before/after a test
  CHANGELOG.md
  sentry-ruby/lib/sentry/test_helper.rb
  sentry-ruby/spec/sentry/test_helper_spec.rb
Labels: bug, sentry-ruby

#1902 Add transaction source annotation
  CHANGELOG.md
  sentry-delayed_job/lib/sentry/delayed_job/plugin.rb
  sentry-delayed_job/spec/sentry/delayed_job_spec.rb
  sentry-rails/lib/sentry/rails/action_cable.rb
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/lib/sentry/rails/capture_exceptions.rb
  sentry-rails/lib/sentry/rails/controller_transaction.rb
  sentry-rails/spec/sentry/rails/action_cable_spec.rb
  sentry-rails/spec/sentry/rails/activejob_spec.rb
  sentry-rails/spec/sentry/rails_spec.rb
  sentry-resque/lib/sentry/resque.rb
  sentry-resque/spec/sentry/tracing_spec.rb
  sentry-ruby/lib/sentry/event.rb
  sentry-ruby/lib/sentry/rack/capture_exceptions.rb
  sentry-ruby/lib/sentry/rake.rb
  sentry-ruby/lib/sentry/scope.rb
  sentry-ruby/lib/sentry/transaction.rb
  sentry-ruby/lib/sentry/transaction_event.rb
  sentry-ruby/spec/sentry/rack/capture_exceptions_spec.rb
  sentry-ruby/spec/sentry/scope_spec.rb
  sentry-ruby/spec/sentry/transaction_spec.rb
  sentry-ruby/spec/sentry/transport_spec.rb
  sentry-sidekiq/lib/sentry/sidekiq/error_handler.rb
  sentry-sidekiq/lib/sentry/sidekiq/sentry_context_middleware.rb
  sentry-sidekiq/spec/sentry/sidekiq_spec.rb
Labels: enhancement, tracing, sentry-ruby

#1906 Cancel in progress ci runs when there is a new commit pushed.
  .github/workflows/sentry_delayed_job_test.yml
  .github/workflows/sentry_rails_test.yml
  .github/workflows/sentry_raven_test.yml
  .github/workflows/sentry_resque_test.yml
  .github/workflows/sentry_ruby_test.yml
  .github/workflows/sentry_sidekiq_test.yml
Labels: testing
