Repository getsentry/sentry-ruby, pull requests merged in 2022-05, with the labels that each got.

#1803 Warn users about config.async's deprecation
  CHANGELOG.md
  sentry-ruby/lib/sentry/configuration.rb
Labels: sentry-ruby

#1812 Don't require a DB connection, but release one if it is acquired
  sentry-rails/lib/sentry/rails/background_worker.rb
Labels: bug fix, sentry-rails

#1816 explain init explicit
  sentry-ruby/README.md
Labels: documentation, sentry-ruby

#1819 Sentry.with_child_span should check SDK's initialization state
  CHANGELOG.md
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/spec/initialization_check_spec.rb
Labels: bug fix, sentry-ruby

#1813 Fix `sentry-rails`'s flaky test
  sentry-rails/spec/dummy/test_rails_app/app.rb
  sentry-rails/spec/sentry/rails/tracing/active_storage_subscriber_spec.rb
Labels: testing, sentry-rails

#1807 Fix: Handle exception with large stacktrace without dropping entire item - by keeping N frames
  CHANGELOG.md
  sentry-ruby/lib/sentry/transport.rb
  sentry-ruby/spec/sentry/transport_spec.rb
Labels: enhancement, sentry-ruby

#1824 Move envelope item processing/trimming logic to the `Item` class
  CHANGELOG.md
  sentry-ruby/lib/sentry/envelope.rb
  sentry-ruby/lib/sentry/event.rb
  sentry-ruby/lib/sentry/transport.rb
  sentry-ruby/spec/sentry/transport_spec.rb
Labels: refactoring, sentry-ruby

#1820 Capture Rails runner's exceptions before exiting
  CHANGELOG.md
  sentry-rails/lib/sentry/rails/railtie.rb
Labels: enhancement, sentry-rails

#1814 Add `Sentry.with_exception_captured` helper
  CHANGELOG.md
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/spec/sentry_spec.rb
Labels: enhancement, sentry-ruby

#1825 Replace sentry-ruby-core with sentry-ruby as integration dependency
  .scripts/batch_release.rb
  CHANGELOG.md
  sentry-delayed_job/sentry-delayed_job.gemspec
  sentry-rails/sentry-rails.gemspec
  sentry-resque/sentry-resque.gemspec
  sentry-ruby/Gemfile
  sentry-ruby/sentry-ruby-core.gemspec
  sentry-ruby/sentry-ruby.gemspec
  sentry-sidekiq/sentry-sidekiq.gemspec
Labels: refactoring
