Repository getsentry/sentry-ruby, pull requests merged in 2022-11, with the labels that each got.

#1929 Lock sentry-raven's sidekiq to < 7.0
  sentry-raven/Gemfile
Labels: testing

#1930 Make `sentry-sidekiq` compatible with Sidekiq 7
  .github/workflows/sentry_sidekiq_test.yml
  CHANGELOG.md
  sentry-sidekiq/lib/sentry/sidekiq/error_handler.rb
  sentry-sidekiq/spec/sentry/sidekiq/error_handler_spec.rb
  sentry-sidekiq/spec/sentry/sidekiq_spec.rb
  sentry-sidekiq/spec/spec_helper.rb
Labels: enhancement, sentry-sidekiq

#1949 Adjust tests for jruby 9.4
  .github/workflows/sentry_rails_test.yml
  sentry-rails/spec/spec_helper.rb
  sentry-resque/spec/spec_helper.rb
  sentry-ruby/spec/sentry/client_spec.rb
  sentry-ruby/spec/spec_helper.rb
  sentry-sidekiq/spec/spec_helper.rb
Labels: testing

#1944 Add config.instrumenter to switch between sentry and otel instrumentation
  CHANGELOG.md
  sentry-delayed_job/spec/sentry/delayed_job_spec.rb
  sentry-rails/lib/sentry/rails/railtie.rb
  sentry-rails/spec/sentry/rails/tracing_spec.rb
  sentry-resque/spec/sentry/tracing_spec.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/hub.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
  sentry-ruby/spec/sentry_spec.rb
  sentry-sidekiq/spec/sentry/sidekiq_spec.rb
Labels: enhancement, tracing, sentry-rails, sentry-ruby

#1945 Expose `span_id` in Span constructor
  CHANGELOG.md
  sentry-ruby/lib/sentry/span.rb
  sentry-ruby/spec/sentry/span_spec.rb
Labels: sentry spec, tracing, sentry-ruby

#1946 Expose `end_timestamp` in `Span#finish` and `Transaction#finish`
  CHANGELOG.md
  sentry-ruby/lib/sentry/span.rb
  sentry-ruby/lib/sentry/transaction.rb
  sentry-ruby/spec/sentry/transaction_spec.rb
Labels: enhancement, sentry-ruby

#1947 Add `Transaction#set_context` api
  CHANGELOG.md
  sentry-ruby/lib/sentry/transaction.rb
  sentry-ruby/lib/sentry/transaction_event.rb
  sentry-ruby/spec/sentry/client_spec.rb
  sentry-ruby/spec/sentry/hub_spec.rb
  sentry-ruby/spec/sentry/transaction_spec.rb
Labels: enhancement, sentry spec, tracing, sentry-ruby
