Repository getsentry/sentry-ruby, pull requests merged in 2022-04, with the labels that each got.

#1781 Update Sinatra example
  sentry-ruby/examples/sinatra/app.rb
Labels: documentation, sentry-ruby

#1783 Add `Sentry.with_child_span` for easier span recording
  CHANGELOG.md
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/spec/sentry/rack/capture_exceptions_spec.rb
  sentry-ruby/spec/sentry_spec.rb
Labels: enhancement, sentry-ruby

#1788 Allow config.transport.proxy to be a String or URI
  CHANGELOG.md
  sentry-ruby/lib/sentry/transport/http_transport.rb
  sentry-ruby/spec/sentry/transport/http_transport_spec.rb
Labels: bug fix, sentry-ruby

#1774 Register SentryContextClientMiddleware on sidekiq workers
  sentry-sidekiq/lib/sentry-sidekiq.rb
  sentry-sidekiq/spec/sentry/sidekiq_spec.rb
Labels: bug fix, sentry-sidekiq

#1784 Fix `sentry-rails`'s tracing spans not nesting issue
  CHANGELOG.md
  sentry-rails/examples/rails-7.0/app/views/layouts/application.html.erb
  sentry-rails/examples/rails-7.0/db/migrate/20220403110436_create_posts.rb
  sentry-rails/examples/rails-7.0/db/schema.rb
  sentry-rails/lib/sentry/rails/tracing/abstract_subscriber.rb
Labels: bug fix, tracing, sentry-rails

#1792 Add request env to rails middleware
  CHANGELOG.md
  sentry-rails/lib/sentry/rails/capture_exceptions.rb
  sentry-rails/spec/sentry/rails/tracing_spec.rb
Labels: bug fix, sentry-rails

#1796 Fix net-http tracing's span nesting issue
  CHANGELOG.md
  sentry-ruby/lib/sentry/net/http.rb
  sentry-ruby/spec/sentry/net/http_spec.rb
Labels: bug fix, tracing, sentry-ruby
