Repository getsentry/sentry-ruby, pull requests merged in 2022-02, with the labels that each got.

#1688 Support serializing ActiveRecord job arguments in global id form
  CHANGELOG.md
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/spec/sentry/rails/activejob_spec.rb
Labels: enhancement, sentry-rails

#1705 Register Sentry's ErrorSubscriber for Rails 7.0+ apps
  CHANGELOG.md
  sentry-rails/lib/sentry/rails/error_subscriber.rb
  sentry-rails/lib/sentry/rails/railtie.rb
  sentry-rails/spec/sentry/rails_spec.rb
  sentry-rails/spec/support/test_rails_app/app.rb
  sentry-ruby/lib/sentry/hub.rb
Labels: enhancement, sentry-rails

#1681 feat(performance): Sync activerecord and net-http span names
  CHANGELOG.md
  sentry-rails/lib/sentry/rails/tracing/action_view_subscriber.rb
  sentry-rails/lib/sentry/rails/tracing/active_record_subscriber.rb
  sentry-rails/spec/sentry/rails/activejob_spec.rb
  sentry-rails/spec/sentry/rails/tracing/action_view_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/tracing/active_record_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/tracing_spec.rb
  sentry-ruby/lib/sentry/net/http.rb
  sentry-ruby/spec/sentry/net/http_spec.rb
Labels: enhancement, sentry-rails, sentry-ruby, Status: Backlog

#1697 Redis support for sentry-ruby
  CHANGELOG.md
  sentry-ruby/Gemfile
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/redis.rb
  sentry-ruby/spec/sentry/breadcrumb/redis_logger_spec.rb
  sentry-ruby/spec/sentry/client/event_sending_spec.rb
  sentry-ruby/spec/sentry/redis_spec.rb
  sentry-ruby/spec/spec_helper.rb
Labels: enhancement, tracing, sentry-ruby

#1713 Avoid causing NoMethodError for Sentry.* calls when the SDK is not inited
  CHANGELOG.md
  sentry-rails/spec/support/test_rails_app/app.rb
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/spec/initialization_check_spec.rb
Labels: bug fix, sentry-ruby

#1719 Implement #1707
  sentry-rails/spec/support/test_rails_app/app.rb
  sentry-rails/spec/support/test_rails_app/apps/5-0.rb
  sentry-rails/spec/support/test_rails_app/apps/5-2.rb
  sentry-rails/spec/support/test_rails_app/apps/6-0.rb
  sentry-rails/spec/support/test_rails_app/apps/6-1.rb
  sentry-rails/spec/support/test_rails_app/apps/7-0.rb
Labels: testing, sentry-rails

#1724 Fix context merging #1722
  CHANGELOG.md
  sentry-ruby/lib/sentry/scope.rb
  sentry-ruby/spec/sentry/scope/setters_spec.rb
Labels: bug fix, sentry-ruby

#1721 Refactor sentry-rails test app
  sentry-rails/.gitignore
  sentry-rails/spec/dummy/test_rails_app/app.rb
  sentry-rails/spec/dummy/test_rails_app/app/assets/config/manifest.js
  sentry-rails/spec/dummy/test_rails_app/apps/5-0.rb
  sentry-rails/spec/dummy/test_rails_app/apps/5-2.rb
  sentry-rails/spec/dummy/test_rails_app/apps/6-0.rb
  sentry-rails/spec/dummy/test_rails_app/apps/6-1.rb
  sentry-rails/spec/dummy/test_rails_app/apps/7-0.rb
  sentry-rails/spec/dummy/test_rails_app/config.ru
  sentry-rails/spec/dummy/test_rails_app/config/database.yml
  sentry-rails/spec/dummy/test_rails_app/config/storage.yml
  sentry-rails/spec/dummy/test_rails_app/public/sentry-logo.png
  sentry-rails/spec/dummy/test_rails_app/public/static.html
  sentry-rails/spec/dummy/test_rails_app/test_template.html.erb
  sentry-rails/spec/spec_helper.rb
Labels: testing, sentry-rails

#1725 Encapsulate extension helpers
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-resque/lib/sentry/resque.rb
Labels: refactoring, sentry-rails, sentry-resque

#1734 Avoid using Resque::Worker#work in tests
  sentry-resque/spec/sentry/resque_spec.rb
  sentry-resque/spec/spec_helper.rb
Labels: testing, sentry-resque

#1738 Avoid duplicated capturing on the same exception object
  CHANGELOG.md
  sentry-rails/lib/sentry/rails/error_subscriber.rb
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/hub.rb
  sentry-ruby/spec/initialization_check_spec.rb
  sentry-ruby/spec/sentry/rack/capture_exceptions_spec.rb
  sentry-ruby/spec/sentry_spec.rb
Labels: bug fix, sentry-rails, sentry-ruby

#1742 ref(envelopes): Move rate limiting logic to each item in envelope
  CHANGELOG.md
  sentry-ruby/lib/sentry/envelope.rb
  sentry-ruby/lib/sentry/transport.rb
  sentry-ruby/spec/sentry/rake_spec.rb
  sentry-ruby/spec/sentry/transport/http_transport_rate_limiting_spec.rb
  sentry-ruby/spec/sentry/transport/http_transport_spec.rb
  sentry-ruby/spec/sentry/transport_spec.rb
  sentry-ruby/spec/sentry_spec.rb
Labels: refactoring, sentry-ruby
