Repository getsentry/sentry-ruby, pull requests merged in 2022-01, with the labels that each got.

#1659 Document `Client` and `Scope` classes.
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/lib/sentry/scope.rb
Labels: documentation, sentry-ruby

#1660 Simplify and clean up `Sentry::RequestInterface`'s tests
  sentry-ruby/spec/sentry/interfaces/request_interface_spec.rb
Labels: testing, refactoring, sentry-ruby

#1661 Deprecate Event#configuration
  sentry-ruby/lib/sentry/event.rb
Labels: refactoring, sentry-ruby

#1662 Explicitly passing Rack related configurations
  CHANGELOG.md
  sentry-ruby/lib/sentry/event.rb
  sentry-ruby/lib/sentry/interfaces/request.rb
  sentry-ruby/spec/sentry/interfaces/request_interface_spec.rb
Labels: refactoring, sentry-ruby

#1664 Lock faraday to version 1.x
  CHANGELOG.md
  sentry-ruby/sentry-ruby.gemspec
Labels: bug fix, sentry-ruby

#1665 Merge back 4.8.2 changes
  CHANGELOG.md
  sentry-delayed_job/lib/sentry/delayed_job/version.rb
  sentry-delayed_job/sentry-delayed_job.gemspec
  sentry-rails/lib/sentry/rails/version.rb
  sentry-rails/sentry-rails.gemspec
  sentry-resque/lib/sentry/resque/version.rb
  sentry-resque/sentry-resque.gemspec
  sentry-ruby/lib/sentry/version.rb
  sentry-sidekiq/lib/sentry/sidekiq/version.rb
  sentry-sidekiq/sentry-sidekiq.gemspec
Labels: sentry-rails, sentry-ruby, sentry-sidekiq, sentry-delayed_job, sentry-resque

#1667 Correctly return JobClass#perform's return value
  sentry-rails/lib/sentry/rails/active_job.rb
  sentry-rails/spec/sentry/rails/activejob_spec.rb
Labels: bug fix, active_job, sentry-rails

#1669 Clear Zeitwerk loaders before initializing new Rails apps
  sentry-rails/spec/support/test_rails_app/app.rb
Labels: testing, sentry-rails

#1668 Merge 4-8 changes
  CHANGELOG.md
  sentry-delayed_job/lib/sentry/delayed_job/version.rb
  sentry-delayed_job/sentry-delayed_job.gemspec
  sentry-rails/lib/sentry/rails/version.rb
  sentry-rails/sentry-rails.gemspec
  sentry-resque/lib/sentry/resque/version.rb
  sentry-resque/sentry-resque.gemspec
  sentry-ruby/lib/sentry/version.rb
  sentry-sidekiq/lib/sentry/sidekiq/version.rb
  sentry-sidekiq/sentry-sidekiq.gemspec
Labels: sentry-rails, sentry-ruby, sentry-sidekiq, sentry-resque

#1673 Refactor RequestInterface
  CHANGELOG.md
  sentry-ruby/lib/sentry/event.rb
  sentry-ruby/lib/sentry/interfaces/request.rb
  sentry-ruby/spec/sentry/interfaces/request_interface_spec.rb
Labels: refactoring, sentry-ruby

#1675 Document Event and interface classes
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/event.rb
  sentry-ruby/lib/sentry/interface.rb
  sentry-ruby/lib/sentry/interfaces/exception.rb
  sentry-ruby/lib/sentry/interfaces/request.rb
  sentry-ruby/lib/sentry/interfaces/stacktrace.rb
  sentry-ruby/lib/sentry/interfaces/stacktrace_builder.rb
  sentry-ruby/lib/sentry/interfaces/threads.rb
  sentry-ruby/spec/sentry/interface_spec.rb
Labels: documentation, refactoring, sentry-ruby

#1676 Document TransactionEvent and breadcrumb-related classes.
  CHANGELOG.md
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/backtrace.rb
  sentry-ruby/lib/sentry/breadcrumb.rb
  sentry-ruby/lib/sentry/breadcrumb_buffer.rb
  sentry-ruby/lib/sentry/transaction_event.rb
Labels: documentation, sentry-ruby

#1677 Use macro to avoid duplicated documentation
  CHANGELOG.md
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/lib/sentry/scope.rb
Labels: documentation, sentry-ruby

#1686 Add workaround for ConnectionStub's missing interface
  CHANGELOG.md
  sentry-rails/lib/sentry/rails/action_cable.rb
  sentry-rails/spec/sentry/rails/action_cable_spec.rb
Labels: bug fix, sentry-rails

#1687 Don't initialize Event objects when they won't be sent
  CHANGELOG.md
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/lib/sentry/hub.rb
  sentry-ruby/spec/sentry_spec.rb
Labels: bug fix, sentry-ruby

#1692 Directly execute ActionCable's action if the SDK is not initialized
  CHANGELOG.md
  sentry-rails/lib/sentry/rails/action_cable.rb
  sentry-rails/spec/sentry/rails/action_cable_spec.rb
  sentry-ruby/lib/sentry-ruby.rb
Labels: bug fix, sentry-rails

#1678 Goodbye faraday 👋
  CHANGELOG.md
  sentry-ruby/lib/sentry/transport/configuration.rb
  sentry-ruby/lib/sentry/transport/http_transport.rb
  sentry-ruby/sentry-ruby-core.gemspec
  sentry-ruby/sentry-ruby.gemspec
  sentry-ruby/spec/sentry/transport/http_transport_spec.rb
Labels: enhancement, wip, sentry-ruby

#1696 Don't reuse Net::HTTP objects in `HTTPTransport`
  CHANGELOG.md
  sentry-ruby/lib/sentry/transport/http_transport.rb
  sentry-ruby/spec/sentry/transport/http_transport_spec.rb
Labels: bug fix, sentry-ruby

#1702 Respect port info provided in user's DSN
  CHANGELOG.md
  sentry-ruby/lib/sentry/transport/http_transport.rb
  sentry-ruby/spec/sentry/transport/http_transport_spec.rb
Labels: bug fix, sentry-ruby

#1701 Capture transaction tags
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/spec/sentry/transaction_spec.rb
Labels: bug fix, sentry-ruby

#1703 Followup of #1701
  CHANGELOG.md
  sentry-ruby/spec/sentry/transaction_spec.rb
Labels: sentry-ruby

#1704 Fix report_after_job_retries's decision logic
  CHANGELOG.md
  sentry-sidekiq/lib/sentry/sidekiq/error_handler.rb
  sentry-sidekiq/spec/sentry/sidekiq_spec.rb
  sentry-sidekiq/spec/spec_helper.rb
Labels: bug fix, sentry-sidekiq
