Repository getsentry/sentry-ruby, pull requests merged in 2022-07, with the labels that each got.

#1839 Install mini_magick to let ActiveStorage tests finish analyzing too
  .github/workflows/sentry_rails_test.yml
  sentry-rails/Gemfile
  sentry-rails/spec/sentry/rails/tracing/active_storage_subscriber_spec.rb
Labels: testing, sentry-rails

#1847 Respect `report_rescued_exceptions` config
  CHANGELOG.md
  sentry-rails/lib/sentry/rails/capture_exceptions.rb
  sentry-rails/spec/sentry/rails_spec.rb
  sentry-ruby/lib/sentry/rack/capture_exceptions.rb
Labels: bug fix, sentry-rails

#1773 Add `Sentry::TestHelper`
  CHANGELOG.md
  sentry-rails/examples/rails-7.0/.rspec
  sentry-rails/examples/rails-7.0/Gemfile
  sentry-rails/examples/rails-7.0/config/environments/test.rb
  sentry-rails/examples/rails-7.0/spec/rails_helper.rb
  sentry-rails/examples/rails-7.0/spec/requests/welcomes_spec.rb
  sentry-rails/examples/rails-7.0/spec/spec_helper.rb
  sentry-ruby/lib/sentry/test_helper.rb
  sentry-ruby/spec/sentry/breadcrumb/sentry_logger_spec.rb
  sentry-ruby/spec/sentry/client/event_sending_spec.rb
  sentry-ruby/spec/sentry/client_spec.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
  sentry-ruby/spec/sentry/event_spec.rb
  sentry-ruby/spec/sentry/hub_spec.rb
  sentry-ruby/spec/sentry/rack/capture_exceptions_spec.rb
  sentry-ruby/spec/sentry/scope_spec.rb
  sentry-ruby/spec/sentry/test_helper_spec.rb
  sentry-ruby/spec/sentry/transport/http_transport_spec.rb
  sentry-ruby/spec/sentry/transport_spec.rb
  sentry-ruby/spec/sentry_spec.rb
  sentry-ruby/spec/spec_helper.rb
Labels: enhancement, testing, sentry-ruby, Status: Backlog

#1853 Rescue event's to JSON conversion error
  CHANGELOG.md
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/spec/sentry/client/event_sending_spec.rb
Labels: bug fix, sentry-ruby

#1851 Add exited status to SessionFlusher and rescue ThreadError
  CHANGELOG.md
  sentry-ruby/lib/sentry/session_flusher.rb
  sentry-ruby/spec/sentry/session_flusher_spec.rb
Labels: bug fix, sentry-ruby

#1857 Fix missing `spec.files` in `sentry-ruby.gemspec`
  CHANGELOG.md
  sentry-ruby/sentry-ruby.gemspec
Labels: bug fix, sentry-ruby
