Repository getsentry/sentry-ruby, pull requests merged in 2022-12, with the labels that each got.

#1948 Add new `sentry-opentelemetry` gem
  .github/workflows/sentry_opentelemetry_test.yml
  .scripts/batch_build.rb
  .scripts/batch_release.rb
  CHANGELOG.md
  sentry-opentelemetry/.gitignore
  sentry-opentelemetry/.rspec
  sentry-opentelemetry/CODE_OF_CONDUCT.md
  sentry-opentelemetry/Gemfile
  sentry-opentelemetry/LICENSE.txt
  sentry-opentelemetry/Makefile
  sentry-opentelemetry/README.md
  sentry-opentelemetry/Rakefile
  sentry-opentelemetry/bin/console
  sentry-opentelemetry/bin/setup
  sentry-opentelemetry/lib/sentry-opentelemetry.rb
  sentry-opentelemetry/lib/sentry/opentelemetry/propagator.rb
  sentry-opentelemetry/lib/sentry/opentelemetry/span_processor.rb
  sentry-opentelemetry/lib/sentry/opentelemetry/version.rb
  sentry-opentelemetry/sentry-opentelemetry.gemspec
  sentry-opentelemetry/spec/sentry/opentelemetry/propagator_spec.rb
  sentry-opentelemetry/spec/sentry/opentelemetry/span_processor_spec.rb
  sentry-opentelemetry/spec/spec_helper.rb
  sentry-ruby/README.md
Labels: enhancement, sentry-opentelemetry

#1932 Allow custom tags to be passed when using the ActiveSupport::ErrorReporter
  CHANGELOG.md
  sentry-rails/lib/sentry/rails/error_subscriber.rb
  sentry-rails/spec/sentry/rails/error_subscriber_spec.rb
Labels: enhancement, sentry-rails

#1963 Support redis-rb 5.0+
  .github/workflows/sentry_ruby_test.yml
  CHANGELOG.md
  sentry-ruby/.rspec
  sentry-ruby/Gemfile
  sentry-ruby/lib/sentry/redis.rb
  sentry-ruby/spec/sentry/breadcrumb/redis_logger_spec.rb
  sentry-ruby/spec/sentry/redis_spec.rb
  sentry-ruby/spec/spec_helper.rb
Labels: bug fix, sentry-ruby

#1967 Skip private _config context in Sidekiq 7+
  CHANGELOG.md
  sentry-sidekiq/lib/sentry/sidekiq/context_filter.rb
  sentry-sidekiq/spec/sentry/sidekiq_spec.rb
Labels: bug fix, sentry-sidekiq

#1970 Lock workflows' bundler version to 2.3
  .github/workflows/sentry_delayed_job_test.yml
  .github/workflows/sentry_rails_test.yml
  .github/workflows/sentry_resque_test.yml
  .github/workflows/sentry_ruby_test.yml
  .github/workflows/sentry_sidekiq_test.yml
Labels: testing

#1971 Use latest rubygems for Rails 7.1+ on CI
  .github/workflows/sentry_rails_test.yml
Labels: testing

#1966 Return value from 'perform_action' when initialized
  CHANGELOG.md
  sentry-rails/lib/sentry/rails/action_cable.rb
  sentry-rails/spec/sentry/rails/action_cable_spec.rb
Labels: bug fix, sentry-rails

#1968 Tag an ActiveRecord span as cached
  CHANGELOG.md
  sentry-rails/lib/sentry/rails/tracing/active_record_subscriber.rb
  sentry-rails/spec/sentry/rails/tracing/active_record_subscriber_spec.rb
Labels: enhancement, sentry-rails
