Repository getsentry/sentry-ruby, pull requests merged in 2023-01, with the labels that each got.

#1969 Refactor workflow matrixes
  .github/workflows/sentry_delayed_job_test.yml
  .github/workflows/sentry_opentelemetry_test.yml
  .github/workflows/sentry_rails_test.yml
  .github/workflows/sentry_resque_test.yml
  .github/workflows/sentry_ruby_test.yml
  .github/workflows/sentry_sidekiq_test.yml
Labels: testing, sentry-rails, sentry-ruby, sentry-sidekiq, sentry-resque

#1981 Avoid testing Redis integration with detailed information
  sentry-ruby/spec/sentry/breadcrumb/redis_logger_spec.rb
Labels: testing, sentry-ruby

#1979 Add Ruby 3.2 to CI matrix
  .github/workflows/sentry_delayed_job_test.yml
  .github/workflows/sentry_opentelemetry_test.yml
  .github/workflows/sentry_rails_test.yml
  .github/workflows/sentry_resque_test.yml
  .github/workflows/sentry_ruby_test.yml
  .github/workflows/sentry_sidekiq_test.yml
Labels: testing

#1982 `Span#with_child_span` should finish the span even with exception raised
  CHANGELOG.md
  sentry-ruby/lib/sentry/span.rb
  sentry-ruby/spec/sentry/span_spec.rb
Labels: bug fix, sentry-ruby

#1980 Avoid using class variable for Configuration's callbacks
  sentry-ruby/lib/sentry/configuration.rb
Labels: refactoring, sentry-ruby

#1976 Add Sentry.add_global_event_processor API
  CHANGELOG.md
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/scope.rb
  sentry-ruby/spec/sentry/scope_spec.rb
Labels: enhancement, sentry-ruby

#1973 Fix sentry-rails' controller span nesting
  CHANGELOG.md
  sentry-rails/lib/sentry/rails/configuration.rb
  sentry-rails/lib/sentry/rails/controller_transaction.rb
  sentry-rails/lib/sentry/rails/tracing/action_controller_subscriber.rb
  sentry-rails/spec/sentry/rails/configuration_spec.rb
  sentry-rails/spec/sentry/rails/tracing/action_controller_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/tracing/action_view_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/tracing/active_storage_subscriber_spec.rb
  sentry-rails/spec/sentry/rails/tracing_spec.rb
Labels: bug fix, sentry-rails, sentry-ruby

#1989 Add before_send_transaction hook
  CHANGELOG.md
  sentry-ruby/lib/sentry/client.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/spec/sentry/client/event_sending_spec.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
Labels: enhancement
