Repository getsentry/sentry-ruby, pull requests merged in 2023-03, with the labels that each got.

#2014 Fix CI
  .github/workflows/sentry_rails_test.yml
  sentry-rails/spec/dummy/test_rails_app/configs/7-1.rb
  sentry-resque/spec/spec_helper.rb
  sentry-ruby/spec/sentry/client_spec.rb
Labels: testing, sentry-rails

#2005 Add config.enable_tracing for easier performance tracing setup
  CHANGELOG.md
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
Labels: tracing, sentry-ruby

#2025 ref: Forward all sentry- baggage items
  CHANGELOG.md
  sentry-ruby/lib/sentry/baggage.rb
  sentry-ruby/spec/sentry/baggage_spec.rb
Labels: enhancement

#2028 Allow Sentry.register_patch to take patch and target directly
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/net/http.rb
  sentry-ruby/lib/sentry/redis.rb
Labels: refactoring
