Repository getsentry/sentry-ruby, pull requests merged in 2023-06, with the labels that each got.

#2052 Update CI Rubies
  .github/workflows/sentry_delayed_job_test.yml
  .github/workflows/sentry_opentelemetry_test.yml
  .github/workflows/sentry_rails_test.yml
  .github/workflows/sentry_resque_test.yml
  .github/workflows/sentry_ruby_test.yml
  .github/workflows/sentry_sidekiq_test.yml
Labels: testing

#2044 Allow java exceptions as capture type in JRuby (#2043)
  CHANGELOG.md
  sentry-ruby/lib/sentry/hub.rb
  sentry-ruby/spec/sentry/hub_spec.rb
Labels: enhancement, jruby, sentry-ruby

#2036 handle sample rate type incompatibilities
  CHANGELOG.md
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
Labels: bug fix, sentry-ruby

#2055 Ignore low-level Puma exceptions by default
  CHANGELOG.md
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/spec/isolated/puma_spec.rb
Labels: bug fix

#2057 Fix uninitialized race condition in Redis integration
  CHANGELOG.md
  sentry-ruby/lib/sentry/redis.rb
Labels: bug fix, sentry-ruby

#2050 Cleanup development dependencies
  Gemfile
  sentry-delayed_job/Gemfile
  sentry-rails/Gemfile
  sentry-resque/Gemfile
  sentry-ruby/Gemfile
  sentry-sidekiq/Gemfile
Labels: dependencies

#2048 Use allowlist to filter ActiveSupport breadcrumbs' data
  CHANGELOG.md
  sentry-rails/lib/sentry/rails/breadcrumb/active_support_logger.rb
Labels: bug fix, sentry-rails

#2059 ErrorHandler should cleanup the scope
  CHANGELOG.md
  sentry-sidekiq/lib/sentry/sidekiq/error_handler.rb
  sentry-sidekiq/spec/sentry/sidekiq_spec.rb
Labels: bug fix, sentry-sidekiq
