Repository getsentry/sentry-ruby, pull requests merged in 2023-02, with the labels that each got.

#1838 Support `Transaction#set_measurement`
  CHANGELOG.md
  sentry-ruby/lib/sentry/transaction.rb
  sentry-ruby/lib/sentry/transaction_event.rb
  sentry-ruby/spec/sentry/transaction_spec.rb
Labels: enhancement, tracing, sentry-ruby, Status: Backlog

#1988 Do not capture exception in Rails runner at_exit if the exit code is 0 / success
  CHANGELOG.md
  sentry-rails/lib/sentry/rails/railtie.rb
  sentry-rails/spec/sentry/rails_spec.rb
Labels: bug fix, sentry-rails, Type: Support Request

#1993 Deprecate `capture_exception_frame_locals` in favor of `include_local_variables`
  CHANGELOG.md
  sentry-ruby/lib/sentry-ruby.rb
  sentry-ruby/lib/sentry/configuration.rb
  sentry-ruby/lib/sentry/test_helper.rb
  sentry-ruby/spec/sentry/configuration_spec.rb
  sentry-ruby/spec/sentry/rack/capture_exceptions_spec.rb
  sentry-ruby/spec/sentry_spec.rb
Labels: enhancement, sentry spec, sentry-ruby

#1997 Ignore redis key if not UTF8
  CHANGELOG.md
  sentry-ruby/lib/sentry/redis.rb
  sentry-ruby/spec/sentry/redis_spec.rb
Labels: bug fix, sentry-ruby
